.hero {
    padding-bottom: 20px;
}

.card {
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.15s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}
