<!DOCTYPE HTML>
<html lang="ko">

<head>
  <title>170927</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <style>
    body,
    td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>

<body>
  <h1>170927</h1>

  <div>
    <span>
      <div>
        <div>보안이라는 것은 본인이 종사하고 있느 분야에 대한 '이해'가 상당해졌을 때 완벽해진다.</div>
        <div><br /></div>
        <div>DB. 웹과는 상관없이 이전부터 존재해왔고 앞으로도 알아서 잘 생존해간다.</div>
        <div><br /></div>
        <div>excel은 관계형 데이터베이스이기도 하다.</div>
        <div><br /></div>
        <div>excel과 DB의 차이??</div>
        <div>excel은 데이터의 속성,구조,관걔를 전부 정리해야한다.</div>
        <div>DB는 종류마다 기본 구조가 있다. SQL이라는 언어가 지원되어 프로그래밍이 가능하다.</div>
        <div>DB는 서버도 존재하여 다른 컴퓨터에서 접속하여 보거나 조작이 가능하다. excel은 파일의 개념이라 디렉토리에 존재하는 사람만 수정이 가능.</div>
        <div><br /></div>
        <div>관계형DB.</div>
        <div>
          <ol start="1">
            <li>
              <div>MySQL / web과 함께 성장. 오픈소스</div>
            </li>
            <li>
              <div>ORACLE / 성능도좋고 안정성도 뛰어나지만 비쌈..</div>
            </li>
            <li>
              <div>SQLServer</div>
            </li>
          </ol>
        </div>
        <div><br /></div>
        <div>MySQL --&gt; Sun MicroSystems에 인수 ---&gt; Oracle에 인수</div>
        <div><br /></div>
        <div>불확실한 MySQL의 라이센스 상태에 반발하여 MariaDB가 탄생. 오픈소스의 RDBMS. 몬티프로그램AB와 저작권을 공유한다. (MySQL과 높은호환성을 위해==손쉬운 교체가능성↑)
        </div>
        <div><span style="line-height: 1.45;"> MySQL과 몬티 프로그램AB를 설립한 '마이클 몬티 와이드니어스'가 개발. GPL v2 라이선스를 따르는 순수한
            오픈소스.</span>
        </div>
        <div><span style="line-height: 1.45;">모든 코드는 GPL, LGPL, LPGL, BSD의 라이선스로 만들어져있음</span></div>
        <div><br /></div>
        <div>아래는 마이클 와이드니어스의 입장.</div>
        <div><br /></div>
        <div><span
            style="font-size: 13.3px; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(249, 249, 249); color: rgb(34, 34, 34); font-family: sans-serif;">아마도
            InnoDB</span><span
            style="font-size: 13.3px; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(249, 249, 249); color: rgb(34, 34, 34); font-family: sans-serif;"> </span><a
            href="https://ko.wikipedia.org/wiki/%EC%8A%A4%ED%86%A0%EB%A6%AC%EC%A7%80_%EC%97%94%EC%A7%84"
            style="background-image: none; background-color: rgb(249, 249, 249); font-size: 13.3px; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; color: rgb(11, 0, 128); font-family: sans-serif;"
            title="스토리지 엔진">스토리지 엔진</a><span
            style="font-size: 13.3px; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(249, 249, 249); color: rgb(34, 34, 34); font-family: sans-serif;">을
            제외한 MySQL에 있는 기능 대부분은 썬마이크로시스템즈 때 있었던 기능들입니다. 오라클 인수 후 MySQL은 발전하지 않았습니다. 오라클은 ‘MySQL을 어떻게 하면 자신들의 소유로 할 수
            있을까’만
            고민했고, 그래서 회사를 나왔습니다.</span></div>
        <div><br /></div>
        <div>MySQL과 비교해 App 부분 속도는 4~5천배 빠름.</div>
        <div>MySQL의 모든 기능을 완벽히 구현(MariaDB 5.5까지)</div>
        <div>전체적인 Performance는 70% 향상.</div>
        <div><br /></div>
        <div>플러그인이었던 *쓰레드풀이 내장.</div>
        <div>스토리지엔진을 활용한 *샤딩 기술 제공.</div>
        <div><br /></div>
        <div><span style="font-size: 8pt;">그외</span></div>
        <ul>
          <li
            style="margin-bottom: 0.1em; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
            <div>
              <font style="font-size: 8pt;"><span
                  style="color: rgb(34, 34, 34); font-family: sans-serif; font-style: normal; font-weight: normal; font-size: 8pt; line-height: 1.45;">가상
                  컬럼 - 5.2에서 추가</span></font>
            </div>
          </li>
          <li
            style="margin-bottom: 0.1em; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
            <div><span
                style="color: rgb(34, 34, 34); font-family: sans-serif; font-style: normal; font-weight: normal; font-size: 8pt;">Table
                제거 - 5.2에서 추가</span></div>
          </li>
          <li
            style="margin-bottom: 0.1em; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
            <div><span
                style="color: rgb(34, 34, 34); font-family: sans-serif; font-style: normal; font-weight: normal; font-size: 8pt;">스토리지
                엔진 지정 CREATE TABLE - 5.2에서 추가</span></div>
          </li>
          <li
            style="margin-bottom: 0.1em; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
            <div><span
                style="color: rgb(34, 34, 34); font-family: sans-serif; font-style: normal; font-weight: normal; font-size: 8pt;">GIS
                기능 지원 - 5.3 이상</span></div>
          </li>
          <li
            style="margin-bottom: 0.1em; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
            <div><span
                style="color: rgb(34, 34, 34); font-family: sans-serif; font-style: normal; font-weight: normal; font-size: 8pt;">멀티
                소스 리플리케이션 - 10.3 이상</span></div>
          </li>
          <li
            style="margin-bottom: 0.1em; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
            <div><span
                style="color: rgb(34, 34, 34); font-family: sans-serif; font-style: normal; font-weight: normal; font-size: 8pt;">SHOW
                EXPLAIN - 다른 쓰레드에서 작동되는 EXPLAIN 플랜 제시</span></div>
          </li>
        </ul>
        <div><br /></div>
        <div><span style="font-style: italic;">*쓰레드풀 : 병렬작업의 극대화로 인한 스레드 증폭을 막기위함. '작업처리에 사용되는 스레드를 제한된 개수만큼 정해놓고
            작업Queue에
            들어오는 작업들을 하나씩 스레드가 맡아 처리.</span></div>
        <div><span style="font-style: italic;">main스레드가 종료되더라도 작업을 처리하기 위해 계속 실행상태로 남아있으니 종료처리를 해야한다.</span></div>
        <div><span style="font-style: italic;">ex)shutdown()</span></div>
        <div><br /></div>
        <div><span style="font-style: italic;">*샤딩기술 : 관리자측면에서 시스템업그레이드를 위해 장비를 고 사양으로 전환하여 기존 시스템의 처리용량을 증대 시키는
            sclae-up(고비용) 대신 DBSystem 소프트웨어적으로 DB를 분산시켜 처리하도록 하는 것. 테이블단위로 분리 하거나 테이블 자체를 분할하는 방법으로 나뉜다.</span></div>
        <div><br /></div>
        <div>현재 위키백과,구글,카카오톡 등이 마리아DB로 전환.</div>
        <div><br /></div>
        <div><span style="font-weight: bold;">아래는 대응 엔진.</span></div>
        <div><span
            style="font-size: 14px; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); color: rgb(34, 34, 34); font-family: sans-serif;">MariaDB는
            원칙적으로 MySQL과 거의 동일한</span><span
            style="font-size: 14px; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); color: rgb(34, 34, 34); font-family: sans-serif;"> </span><a
            href="https://ko.wikipedia.org/wiki/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B2%A0%EC%9D%B4%EC%8A%A4_%EC%97%94%EC%A7%84"
            style="font-size: 14px; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background: none; color: rgb(11, 0, 128); font-family: sans-serif;"
            title="데이터베이스 엔진">데이터베이스 엔진</a><span
            style="font-size: 14px; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); color: rgb(34, 34, 34); font-family: sans-serif;">(스토리지
            엔진)에 대응하고 있다. 해당 데이터베이스 엔진은 다음과 같다.</span></div>
        <ul
          style="list-style-type: disc;margin: 0.3em 0px 0px 1.6em;padding: 0px;background-color: rgb(255, 250, 165);-evernote-highlight:true;">
          <li style="margin-bottom: 0.1em;">
            <div><a href="https://ko.wikipedia.org/wiki/Aria_(%EC%A0%80%EC%9E%A5_%EC%97%94%EC%A7%84)"
                style="background: none; color: rgb(11, 0, 128);" title="Aria (저장 엔진)">Aria</a> - <a
                href="https://ko.wikipedia.org/wiki/MyISAM" style="background: none; color: rgb(11, 0, 128);"
                title="MyISAM">MyISAM</a> 파생 엔진 대체용 (이전 명칭은 Maria)</div>
          </li>
          <li style="margin-bottom: 0.1em;">
            <div><a href="https://en.wikipedia.org/wiki/XtraDB" style="background: none; color: rgb(102, 51, 102);"
                title="w:XtraDB">XtraDB</a> - <a href="https://ko.wikipedia.org/wiki/%EC%98%A4%EB%9D%BC%ED%81%B4"
                style="background: none; color: rgb(11, 0, 128);" title="오라클">오라클</a> <a
                href="https://ko.wikipedia.org/wiki/InnoDB" style="background: none; color: rgb(11, 0, 128);"
                title="InnoDB">InnoDB</a>를 대체하기 위해 만든 <a href="https://ko.wikipedia.org/wiki/InnoDB"
                style="background: none; color: rgb(11, 0, 128);" title="InnoDB">InnoDB</a> 파생 <a
                href="https://ko.wikipedia.org/wiki/%ED%8F%AC%ED%81%AC_(%EC%86%8C%ED%94%84%ED%8A%B8%EC%9B%A8%EC%96%B4_%EA%B0%9C%EB%B0%9C)"
                style="background: none; color: rgb(11, 0, 128);" title="포크 (소프트웨어 개발)">포크</a></div>
          </li>
          <li style="margin-bottom: 0.1em;">
            <div><a href="https://ko.wikipedia.org/w/index.php?title=FederatedX&amp;action=edit&amp;redlink=1"
                style="background: none; color: rgb(165, 88, 88);" title="FederatedX (없는 문서)">FederatedX</a> - <a
                href="https://ko.wikipedia.org/wiki/MySQL_Federated" style="background: none; color: rgb(11, 0, 128);"
                title="MySQL Federated">MySQL Federated</a> 파생 엔진, 트랜잭션 제공</div>
          </li>
          <li style="margin-bottom: 0.1em;">
            <div><a href="https://ko.wikipedia.org/w/index.php?title=OQGRAPH&amp;action=edit&amp;redlink=1"
                style="background: none; color: rgb(165, 88, 88);" title="OQGRAPH (없는 문서)">OQGRAPH</a> - 버전 5.2 이상에서 지원
            </div>
          </li>
          <li style="margin-bottom: 0.1em;">
            <div><a href="https://ko.wikipedia.org/w/index.php?title=SphinxSE&amp;action=edit&amp;redlink=1"
                style="background: none; color: rgb(165, 88, 88);" title="SphinxSE (없는 문서)">SphinxSE</a> - 버전 5.2 이상에서
              지원,
              Full-Text Searching이 필요할 때 사용할 수 있는 스토리지 엔진</div>
          </li>
          <li style="margin-bottom: 0.1em;">
            <div><a href="https://ko.wikipedia.org/w/index.php?title=IBMDB21&amp;action=edit&amp;redlink=1"
                style="background: none; color: rgb(165, 88, 88);" title="IBMDB21 (없는 문서)">IBMDB21</a> - 오라클은 이것을 MySQL
              5.1.55에서 제거했지만, 마리아DB에서는 5.5까지 유지</div>
          </li>
          <li style="margin-bottom: 0.1em;">
            <div><a href="https://ko.wikipedia.org/w/index.php?title=Cassandra&amp;action=edit&amp;redlink=1"
                style="background: none; color: rgb(165, 88, 88);" title="Cassandra (없는 문서)">Cassandra</a> - 10.0에서 포함.
              기타 비
              sql 저장 엔진을 끌어들이려는 시도</div>
          </li>
          <li style="margin-bottom: 0.1em;">
            <div><a href="https://ko.wikipedia.org/w/index.php?title=PBXT&amp;action=edit&amp;redlink=1"
                style="background: none; color: rgb(165, 88, 88);" title="PBXT (없는 문서)">PBXT</a> - 트랜잭션 제공, 5.5부터는 더 이상
              유지보수를 제공하지 않음. 기본 스토리지 엔진에서 제외</div>
          </li>
          <li style="margin-bottom: 0.1em;">
            <div><a href="https://ko.wikipedia.org/w/index.php?title=TokuDB&amp;action=edit&amp;redlink=1"
                style="background: none; color: rgb(165, 88, 88);" title="TokuDB (없는 문서)">TokuDB</a> - MariaDB에서 Load해야지
              쓸 수
              있습니다. 장점은 다른 엔진보다 압축률이 높습니다.</div>
          </li>
        </ul>
        <div><br /></div>
        <div>terminal을 통한 mysql 설치.</div>
        <div>
          <ol start="1">
            <li>
              <div><span style="line-height: 1.45;">sudo apt-get update / 앱스토어를 갱신한다고 생각</span></div>
            </li>
            <li>
              <div><br /></div>
            </li>
          </ol>
        </div>
        <div><br /></div>
        <div>sudo?? 유닉스 및 유닉스 계열 운영체제에서 '다른' 사용자의 보안권한과 관련된 프로그램을 구동할 수 있게 해주는 프로그램. substitute user do 의 줄임말.[다른 사용자의
          권한으로
          명령을 이행하라]</div>
        <div>apt-get?? 일종의 앱스토어</div>
        <div><br /></div>
        <div>WebBrowser program 에서 주소 입력 --&gt; webserver program에 접속해서 index.html을 읽고하고 응답 --&gt; WebBrowser에서 출력</div>
        <div><br /></div>
        <div>client와 server의 관계</div>
        <div><br /></div>
        <div>위처럼 MySQL도</div>
        <div>[MySQL Client]         [MySQL Server]</div>
        <div>mysql monitor 등...</div>
        <div><br /></div>
        <div>MySQLClient가 Structured Qurery Langeuage를 언어를 이용해서 mySQL서버에 요청하여 DB가 수정,삭제,갱신등이 이뤄진다.</div>
        <div>이때 인증이 필요하다. mysql의 보안특성.</div>
        <div><br /></div>
        <div><span
            style="border: 0px; font-size: 12px; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(232, 232, 232); color: rgb(51, 51, 51); font-family: 굴림; font-variant-caps: normal; font-variant-ligatures: normal; line-height: 1.3;">Can't
            connect to local MySQL server through socket '/tmp/mysql.sock' (2)</span></div>
        <div
          style="margin: 0px; padding: 0px; border: 0px; font-size: 12px; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(232, 232, 232);">
          <span
            style="border: 0px; font-size: 12px; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(232, 232, 232); color: rgb(51, 51, 51); font-family: 굴림; font-variant-caps: normal; font-variant-ligatures: normal; line-height: 1.3;">Can't
            connect to local MySQL server through socket '/var/lib/mysql/mysql.sock' (2)</span></div>
        <div>error 2002 에러 발생??</div>
        <div>위는 mysql서버가 실행되지 않은 것이다.</div>
        <div>소켓을 통해 로컬서버로 연결 못하는것임.</div>
        <div>위의 에러와 연계된 상황으로 ↓</div>
        <div>unrecognized service 해결법.</div>
        <div>설치확인(sudo apt-get install []) 혹은 sudo service [] start.</div>
      </div>
      <div><br /></div>
    </span>
  </div>
</body>

</html>