<!DOCTYPE HTML>
<html lang="ko">

<head>
  <title>170928</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <style>
    body,
    td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>

<body>
  <h1>170928</h1>

  <div>
    <span>
      <div>Web과 DB는 각자 다른 가치를 지닌 것이다.</div>
      <div>서로에게 종속적이지 않음.</div>
      <div>서로를 활용하는 것일 뿐.</div>
      <div><img src="../resources/170928_files/Image.png" type="image/png" data-filename="Image.png" width="442" />
      </div>
      <div>Table들을 묶어 관리하는 것: 데이터베이스</div>
      <div><br /></div>
      <div>SHOW [] : DB 보여주기</div>
      <div>CREATE DATABASE [] CHARACTER SET [utf8] COLLATE [utf8_general_ci]; : DB 생성</div>
      <div>USE []; : DB 사용</div>
      <div><br /></div>
      <div><br /></div>
      <div>- terminal 복사,잘라내기,붙여내기.</div>
      <div><img src="../resources/170928_files/Image [1].png" type="image/png" data-filename="Image.png" /></div>
      <div><br /></div>
      <div>Terminal을 이용하여 sql문을 작성하는 것은 사람이 하기엔 굉장히 불편할수도 있고 어려운 것이 현실이다. <span style="line-height: 1.45;">하지만 php를 통해
          프로그래밍으로 자동생성하면 훨씬 효율적이다.</span></div>
    </span>
  </div>
</body>

</html>