<!DOCTYPE HTML>
<html lang="ko">

<head>
  <title>171017</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <style>
    body,
    td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>

<body>
  <h1>171017</h1>

  <div>
    <span>
      <div><span>php가 가지고 있는 웹페이지를 효율적으로 만들어 내는 생산성과</span></div>
      <div><span>mysql이 가지고 있는 빠른 동시성과 접속성으로 db를 관리하는 것을 조합하여</span></div>
      <div><span>최적의 페이지 관리를 할 수 있다.(back-end server관리)</span></div>
      <div><span><img src="../resources/171017_files/Image.png" type="image/png" data-filename="Image.png" /></span>
      </div>
      <div><span>php -  mySQL.</span></div>
      <div>
        <ol start="1">
          <li><span style="line-height: 1.45;"> DB를 사용하기 위해 우리가 로그인을 하는 것처럼 일종의 보안체계를 통과한 후 사용해야 하므로 Connecti이라는 '접속과정'이
              필요.</span></li>
          <li> 사용을 하기 위해 sql문으로 요청하고 그에 해당하는 값을 응답받는 과정이 필요.(query 전달)</li>
        </ol>
      </div>
      <div><br /></div>
    </span>
  </div>
</body>

</html>