<!DOCTYPE HTML>
<html lang="ko">

<head>
  <title>171031</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <style>
    body,
    td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>

<body>
  <h1>171031</h1>

  <div>
    <span>
      <div>
        <div
          style="box-sizing: border-box; padding: 8px; font-size: 12px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: rgb(251, 250, 248); border: 1px solid rgba(0, 0, 0, 0.14902);">
          <div><span
              style="background-color: rgb(251, 250, 248); font-size: 12px; color: rgb(51, 51, 51); font-family: Monaco, Menlo, Consolas, monospace;">컴퓨터일반</span>
          </div>
        </div>
        <ol start="1">
          <li>
            <div><span style="line-height: 1.45;">랜더링(Randering) : 3차원 그래픽에서 화면에 그린 물체의 모형에 명암과 색상을 입혀 사실감을 더해주는
                기술</span>
            </div>
          </li>
          <li>
            <div>컴퓨터 내부기억장치 : ROM 에는 BIOS, 기본글꼴, POST 시스템 등이 저장되어있다.</div>
          </li>
          <li>
            <div>듀얼 시스템 : 업무처리 신뢰도아 작업중단을 대비하기 위해 2개의 CPU가 같은 업무를 동시에 처리하여 결과를 상호점검.</div>
          </li>
        </ol>
        <div
          style="box-sizing: border-box; padding: 8px; font-size: 12px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: rgb(251, 250, 248); border: 1px solid rgba(0, 0, 0, 0.14902);">
          <div><span
              style="background-color: rgb(251, 250, 248); font-size: 12px; color: rgb(51, 51, 51); font-family: Monaco, Menlo, Consolas, monospace;">스프레드시트
              일반</span></div>
        </div>
        <ol start="1">
          <li>
            <div>[데이터가져오기] 대화상자에서 데이터가 들어갈 위치를 [새 워크시트]로 선택하면 새 워크시트의 [A1]  셀이 기본으로 선택.</div>
          </li>
          <li>
            <div>차트에서 3차원, 방사형, 원형, 도넛형, 표면형 차트에는 <span style="font-weight: bold;">추세선X</span>.</div>
          </li>
          <li>
            <div>엑셀 데이터 입력 시 [Shift+Enter]를 누르면 입력 완료 후, 바로 위에 셀이 선택된다.(반대로, 역으로, 거꾸로의 의미)</div>
          </li>
          <li>
            <div>EOMONTH(날짜, 월수) : 지정 날짜 기준 몇개월 이전, 몇개월 이후 달의 마지막 날짜를 구함.</div>
          </li>
          <li>
            <div>NETWORKDAYS(A1,A2) : 공휴일 ,주말 제외 순수 작업 일수.</div>
          </li>
          <li>
            <div>WORKDAY(A1, N) : A1 으로부터 주말과 공휴일을 제외하고 n 일이 지난 날짜.</div>
          </li>
          <li>
            <div>엑셀 확장자. xltx : 서식파일. 2007파일 형식으로 VBA 매크로 코드를 <span style="font-weight: bold;">저장 할 수 없다.</span></div>
          </li>
          <li>
            <div>xltxm : 2007파일 형식으로 <span style="font-weight: bold;">매크로 포함 및 VBA 코드 저장 가능.</span></div>
          </li>
          <li>
            <div>엑셀 [페이지 설정]시 [페이지]탭에서 '자동맞춤'의 용지 너비와 용지 높이를 각각 1로 지정하면 여러 페이지가 한 페이지에 인쇄된다.</div>
          </li>
          <li>
            <div>수동 페이지 나누기에서 [페이지 나누기 삽입] 기능은 선택한 셀의 왼쪽과 위쪽으로 삽입된다.</div>
          </li>
          <li>
            <div>분산형 차트 : 여러 데이터들 값들의 관계를 보여줌. 주로 과학 데이터 분야.</div>
          </li>
        </ol>
        <div
          style="box-sizing: border-box; padding: 8px; font-family: Monaco, Menlo, Consolas, monospace; font-size: 12px; color: rgb(51, 51, 51); border-radius: 4px; background-color: rgb(251, 250, 248); border: 1px solid rgba(0, 0, 0, 0.15);-en-codeblock:true;">
          <div>데이터베이스 일반</div>
        </div>
      </div>
      <div>
        <ol start="1">
          <li>
            <div>DoCmd.OpenQuery : VBA module에서 선택 쿼리를 [데이터시트보기, 디자인보기, 인쇄미리보기 등]으로 열기 위해 사용하는 베서드.</div>
          </li>
          <li>
            <div>DoCmd.RunSQL : SQL 문을 실행하는 매크로 함수를 수행한다.</div>
          </li>
          <li>
            <div>Primary KEY : 기본키는 하나의 속성에만 지정할 수도 있지만 2개 이상의 속성으로 조합해서 지정할 수도 있다. 이를 복합키(Composit KEY)라고 한다.</div>
          </li>
          <li>
            <div>바운드 컨트롤 : 폼이나 보고서에서 <span style="font-weight: bold;">테이블이나 쿼리의 필드를 컨트롤 원본으로 사용</span>하는 컨트롤.</div>
          </li>
          <li>
            <div>계산 컨트롤 : 데이터의 원본 데이터로 식을 사용하는 컨트롤.</div>
          </li>
          <li>
            <div>[업무 문서 양식 마법사]를 이용한 보고서 작성 : <span style="font-weight: bold;">테이블 이용하여 세금계산서,거래명세서</span> 작성가능. 쿼리 이용하여
              서식없는 세금계산서 작성.</div>
          </li>
          <li>
            <div>우편물 레이블은 [레이블 보고서]를 이용하여 만든다.</div>
          </li>
          <li>
            <div>보고서의 [그룹, 정렬 및 요약]? 같은 필드나 식을 두 번 이상 그룹화 할 수 없다 / 여러 필드에 요약을 추가하거나 같은 필드에 여러 종류의 요약을 계산할 수 있다. / 필드나 식을
              기준으로 열 개까지 지정할 수 있다. / 그룹 삭제 시 그룹 머리글,바닥글 구역에 삽입되어있는 컨트롤들도 모두 삭제 / 그룹화 시 머리글 구역이나 바닥글 구역 중 하나 이상을 설정.
            </div>
          </li>
          <li>
            <div>[조건부 서식]? 조건에 맞지 않는 경우의 서식은 <span style="font-weight: bold;">조건을 식으로만 지정할 수 없다.</span></div>
          </li>
          <li>
            <div>[폼 마법사] 에서 컬럼 형식 ? 폼 작성 시 각 필드가 왼쪽의 레이블과 함께 각 행에 나타남.</div>
          </li>
          <li>
            <div>테이블 형식 ? 각 레코드의 필드들이 한줄에 나타나며 레이블은 폼 맨위 한번 표시.</div>
          </li>
          <li>
            <div>데이터 시트 ? 레코드는 행으로 필드는 열로 각각 나타나는 행/열 형식.</div>
          </li>
          <li>
            <div>맞춤 ? 필드 내용의 분량에 따라 각 필드를 균형있게 배치하는 형식.</div>
          </li>
          <li>
            <div>datediff(텍스트 형식, 날짜1, 날짜2) : 두 날짜 사이의 형식의 경과값을 표시.</div>
          </li>
          <li>
            <div>입력 마스크 '&gt;L0L L?0' ???</div>
          </li>
        </ol>
      </div>
      <div><br /></div>
    </span>
  </div>
</body>

</html>