<!DOCTYPE HTML>
<html lang="ko">

<head>
  <title>171008_POST방식</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="exporter-version" content="Evernote Windows/308292 (ko-KR, DDL); Windows/10.0.0 (Win64);" />
  <style>
    body,
    td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>

<body>
  <h1>171008_POST방식</h1>

  <div>
    <span>
      <div><img src="../resources/171008_POST방식_files/Image.png" type="image/png" data-filename="Image.png" /></div>
      <div>post방식으로 데이터를 전송하게 되면 위처럼 data가 숨어서 전달된다.</div>
      <div><br /></div>
    </span>
  </div>
</body>

</html>