<!DOCTYPE HTML>
<html lang="ko">

<head>
  <title>171011</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="exporter-version" content="Evernote Windows/308292 (ko-KR, DDL); Windows/10.0.0 (Win64);" />
  <style>
    body,
    td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>

<body>
  <h1>171011</h1>

  <div>
    <span>
      <div>
        <ol start="1">
          <li>자료의 표현에 대해.</li>
          <ol>
            <li>실수형 데이터는 정해진 크기에 부호(1 bit), 지수부(7 bit), 가수부(소수부)로 나누어 표현.</li>
            <li>2진 정수 데이터는 실수 데이터보다 표현할 수 있는 범위가 작으며 연산속도는 빠르다.</li>
            <li>숫자 데이터 표현 중 10진 연산을 위하여 Pack과 Unpack 표현방식이 사용.</li>
            <li>컴퓨터에서 뺄셈을 수행하기 위해서는 보수와 덧셈 연산을 이용.</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
      <div>
        <ol start="2">
          <li>디지털 컴퓨터는 숫자,문자 등과 같이 비연속적으로 변하며 결과를 숫자나 문자를 조합하여 표시.</li>
          <ol>
            <li>디지털 컴퓨터 : 숫자나 문자처럼 연속적이지 않은 데이터를 처리함.</li>
            <li>아날로그 컴퓨터 : 온도, 전압, 전류, 진동 처럼 연속적으로 변하는 데이터 처리.</li>
            <li>하이브리드 컴퓨터 : 아날로그와 디지털 컴퓨터의 장점을 결합.</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
      <div>
        <ol start="3">
          <li>RAID(Redundant of Array of Inexpensive Disk) 기술.</li>
          <ol>
            <li>여러 개의 하드디스크를 모아서 하나의 하드디스크처럼 사용할 수 있도록 하는 기술.</li>
            <li>하드디스크 모음뿐만 아니라 자동으로 복제해 백업 정책 구현.</li>
            <li>미러링과 스트라이핑 기술을 결합하여 안정성과 속도를 향상 시킨 디스크 연결 기술.</li>
          </ol>
        </ol>
        <div><br /></div>
      </div>
      <div>
        <ol start="4">
          <li>SCSI(Small Computer System Interface) 기술</li>
          <ol>
            <li>컴퓨터에서 주변기기를 연결하기 위한 병렬 표준 인터페이스</li>
            <li>입출력 버스를 접속하는데 필요한 기계적,전기적인 요구사항</li>
            <li>모든 주변 기기 장치를 중심으로 명령어 집합에 대한 규격</li>
          </ol>
        </ol>
        <div><br /></div>
      </div>
      <div>
        <ol start="5">
          <li>제어장치 - 레지스터</li>
          <ol>
            <li>PC : 다음번에 실행 할 명령어의 번지를 기억.</li>
            <li>IR : 현재 실행 중인 명령어를 기억.</li>
            <li>Decoder : IR에 있는 명령어를 해독하는 명령 해독기.</li>
            <li>Encoder : 해독된 명령에 따라 각 장치로 보낼 제어 신호 생성하는 회로.</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
      <div>
        <ol start="6">
          <li>운영 시스템.</li>
          <ol>
            <li>듀플렉스(Duplex) 시스템 : 두 지점 사이에서 정보를 주고 받는 전자 통신 시스템.</li>
            <li>클러스터링(Clustering) 시스템 : 여러 대의 컴퓨터들이 연결되어 하나의 시스템처럼 동작하는 컴퓨터 시스템.</li>
            <li>듀얼(Dual) 시스템 : 2개의 CPU가 같은 업무를 동시에 처리하여 그 결과를 상호점검하면서 운영하는 시스템</li>
            <li>다중처리(Multiprocessing) 시스템 : 컴퓨터 시스템 한 대에 둘 이상 CPU를 이용하여 병령로 처리하는 시스템</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
      <div>
        <ol start="7">
          <li>Device Stage</li>
          <ol>
            <li>윈도우즈에서 Device Stage 기능을 제공하는 장치가 컴퓨터에 연결되면 자동 실행되어 쉽고 빠르게 새로운 하드웨어를 사용할 수 있는 기능.</li>
            <li>윈도우즈에서 지원하는 장치만 표시.</li>
            <li>Windows Update 사이트에서 장치의 정보를 다운받아 설치.</li>
            <li>Device Stage 정보는 제조사에서 Microsoft 사에 제공하고 이를 Windows Update를 통해서 배포.</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
      <div>
        <ol start="8">
          <li>동배간 처리(Peer - To - Peer)</li>
          <ol>
            <li>컴퓨터 - 컴퓨터가 동등하게 연결되는 방식.</li>
            <li>각각의 컴퓨터는 Client 인 동시에 server가 될 수 있다.</li>
            <li>워크 스테이션이나 PC를 단말기로 사용하는 작은 규모의 네트워크에 많이 사용.</li>
            <li>유지보수 및 데이터의 보안유지가 어렵다.</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
      <div>
        <ol start="9">
          <li>멀티미디어 특징.</li>
          <ol>
            <li>디지털 데이터로 변환, 통합처리</li>
            <li>정보 제공자와 사용자 간 상호작용에 의해 데이터 전달.</li>
            <li>데이터가 사용자 선택에 따라 비순차적으로 처리되는 비선형의 특징을 가짐.</li>
            <li>문자, 그림, 사운드 등 여러 미디어를 통합하여 처리</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
      <div>
        <ol start="10">
          <li>공개키 암호화 기법.</li>
          <ol>
            <li>대표적으로 RSA가 있다.</li>
            <li>서로다른 키로 데이터를 암호화 하고 복호화.</li>
            <li>키의 분배가 용이하고 관리해 할 키의 수가 적음.</li>
            <li>암호화/복호화 속도가 느리며, 알고리즘이 복잡하고 파일크키가 큼.</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
      <div>
        <ol start="11">
          <li>URL?</li>
          <ol>
            <li>인터넷 상에서 존재하는 각종 자원의 위치를 나타내는 표준 주소 체계.</li>
            <li>URL 의 일반적인 형식은 '프로토콜://호스트주소[:포트번호][/파일경로] 이다.</li>
            <li>일반적으로 HTTP 서비스는 80번 포트 사용.</li>
            <li>FTP :// ID:PW@FTP주소 or FTP :// ID@FTP주소</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
      <div>
        <ol start="12">
          <li>Wi - Fi ?</li>
          <ol>
            <li>IEEE 802.11 기술 규격의 브랜드명으로 Wireless Fidelity의 약어이다.</li>
            <li>무선 신호를 전달하는 AP(Access Point)를 중심으로 데이터를 주고 받는 인프라스트럭쳐(infrastructure) 모드와 AP 없이 데이터를 주고 받는 애드혹(AD
              Hoc)모드가
              있다.</li>
            <li>유선랜을 무선화한 것이기 때문에 사용 거리에 제한이 있고, 전송속도는 3G 이동통신에 비해 빠르며 전송비용이 저가이다.</li>
            <li>Wireless Fidelity 라는 표현을 주로 쓰이지만 공식적으로 정해진 적은 없다.</li>
            <li>IEEE 802.11b 규격은 최대 11 Mbps, IEEE 802.11g 규격은 최대 54 Mbps의 속도를 지원.</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
      <div>
        <ol start="13">
          <li>Tracert ?</li>
          <ol>
            <li>IP주소, 목적지까지 거치는 경로의 수, 각 구간 사이의 데이터 왕복 속도를 확인할 수 있다.</li>
            <li>특정 사이트가 열리지 않을 때 해당 서버가 문제인지 인터넷 망이 문제인지를 확인할 수 있다.</li>
            <li>인터넷 속도가 느릴 때 어느 구간에서 정체를 일으키는지 확인할 수 있다.</li>
          </ol>
        </ol>
        <div><br /></div>
      </div>
      <div>
        <ol start="14">
          <li>Netstat ? </li>
          <ol>
            <li>다른 컴퓨터의 IP 주소 및 포트 정보를 볼 수 있음. - 바이러스 해킹 여부 진단이 가능.</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
      <div>
        <ol start="15">
          <li>문자 표현 코드 체계.</li>
          <ol>
            <li>BCD code - 64가지의 문자를 표현, 영문 소문자는 표현 불가능</li>
            <li>Unicode - 세계 각국의 언어를 16비트 체계로 통일한 국제 표준 코드.</li>
            <li>ASCII code - 128가지의 문자를 표현할 수 있으며, 주로 데이터 통신용이나 PC 에서 많이 사용.</li>
            <li>EBCDIC code - BCD code를 확장한 코드체계로 256가지의 문자를 표현할 수 있다.</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
      <div>
        <ol start="16">
          <li>데이터의 구성 단위( 작은 것 &gt; 큰 것 )</li>
          <ol>
            <li>논리적 단위 : Field - Record - File - Database</li>
            <li>물리적 단위 : Bit - Byte - Word</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
      <div>
        <ol start="17">
          <li>USB 규격 별 최대 데이터 전송 속도</li>
          <ol>
            <li>USB 1.1 : 12 Mbps</li>
            <li>USB 2.0 : 480 Mbps</li>
            <li>USB 3.0 : 5 Gbps</li>
            <li>USB 3.1 : 10 Gbps</li>
          </ol>
        </ol>
        <div><br /></div>
      </div>
      <div>
        <ol start="18">
          <li>SRAM - DRAM</li>
          <ol>
            <li>DRAM 은 주로 콘덴서로 구성되며, 재충전이 필요.</li>
            <li>SRAM 은 전력소모가 많으나, 접근 속도가 빠름.</li>
            <li>DRAM 은 SRAM 보다 집적도가 높아 일반적인 주기억장치로 이용.</li>
            <li>SRAM 은 전원이 공급되는 동안에는 기억 유지.</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
      <div>
        <ol start="19">
          <li>연관 메모리(Associative Memory)</li>
          <ol>
            <li>기억된 내용의 일부를 이용하여 원하는 정보가 기억된 위치를 찾아내서 접근하는 기억장치.</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
      <div>
        <ol start="20">
          <li>Windows 7 시스템 복구 옵션</li>
          <ol>
            <li>시동복구 - 시스템 파일 누락이나 손상과 같은 특정문제 해결</li>
            <li>시스템 이미지 복구 - 문서, 사진 등 사용자 데이터와 프로그램을 포함하는 시스템 이미지를 사전에 만든 후에 복원</li>
            <li>Windows 메모리 진단 - 컴퓨터의 메모리 하드웨어 오류 확인</li>
            <li>명령 프롬프트 - 복구관련 작업을 수행할 수 있으며, 문제 진단 및 해결을 위해 다른 명령줄 도구를 실행할 수도 있다.</li>
          </ol>
        </ol>
      </div>
    </span>
  </div>
</body>

</html>