<!DOCTYPE HTML>
<html lang="ko">

<head>
  <title>171015</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <style>
    body,
    td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>

<body>
  <h1>171015</h1>

  <div>
    <span>
      <div>
        <ol start="1">
          <li>internet communications eqipment .</li>
          <ol>
            <li>허브(Hub) - 한꺼번에 여러 대의 컴퓨터를 연결하는 장치로 각 회선을 통합적으로 관리.</li>
            <li>리피터(Repeater) - 디지털 신호의 장거리 전송을위해 수신한 신호를 재생시키거나 출력 전압을 높여 전송하는 장치.</li>
            <li>브릿지(bridge) - 물리적으로 다른 네트워크를 연결할 때 사용</li>
            <li>라우터(Router) - 네트워크와 네트워크 간을 연결할 때 반드시 필요한 장비로 가장 최적의 IP경로를 설정하여 전송.</li>
            <li>게이트웨이(GateWay) - 다른 네트워크에 데이터를 보내거나 다른 네트워크로부터 데이터를 받아들이는 출입구 역할.</li>
            <li>DNS 서버 : 문자로 된 도메인 이름을 컴퓨터가 인식할 수 있는 IP 주소.주소를 변환해 주는 서버.</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
      <div>
        <ol start="2">
          <li>소프트웨어 사용권.</li>
          <ol>
            <li>ad ware - 배너 광고를 보는 대가로 무료로 사용하는 소프트웨어.</li>
            <li>share ware - 기능 혹은 사용 기간에 제한을 두어 배포하는 소프트웨어.</li>
            <li>bundle - 특정한 하드웨어나 소프트웨어를 구매하였을 때 포함하여 주는 소프트웨어.</li>
            <li>free ware - 돈을 낸지 않고도 사용가능하고 다른 사람에게 전달해 줄 수 있는 소프트웨어.</li>
          </ol>
        </ol>
        <div><br /></div>
      </div>
      <div>
        <ol start="3">
          <li>computer operating System(OS)</li>
          <ol>
            <li>시스템의 모든 동작 상태를 관리하고 감독하는 제어프로그램의 핵심 프로그램을 슈퍼바이저(Supervisor)라 부른다.</li>
            <li>운영체제는 컴퓨터가 동작하는 동안 주기억장치에 위치하게 된다.</li>
            <li>키보드, 모니터, 디스크 드라이브 등 필수적인 주변장치들을 관리하는 BIOS를 포함한다.</li>
            <li>운영체제는 사용자가 응용프로그램을 편리하게 사용하고, 하드웨어의 성능을 최적화 할 수 있도록 한다.</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
      <div>
        <ol start="4">
          <li>computer 발전 과정.</li>
          <ol>
            <li>1세대 - 기계어, 어셈블리어, 부피크고 고장잦음, 수치계산, 통계, 하드웨어 중심, UNIVAC-I</li>
            <li>2세대 - 트랜지스터, COBOL, FORTRAN, ALGOL, 부피감소, OS 개념 도입, 소프트웨어 중심, 온라인 실시간 처리, 다중 프로그래밍, 계산, 사무</li>
            <li>3세대 - 집적회로(IC),  OMR,OCR,MICR, 시분할 처리, 다중처리, LISP, PASCAL, BASIC</li>
            <li>4세대 - 고밀도 집적회로(LSI), 고급언어, 문제 지향언어, C, ADA, Persnal Computer, superComputer 개발, 가상기억장치</li>
            <li>5세대 - 초고밀도 집적회로(VLSI), 자기디스크, 객체지향언어, Java, C++, 인터넷 확산, AI, Fuzzy, 음성인식, 패턴인식</li>
          </ol>
        </ol>
      </div>
      <div><br /></div>
    </span>
  </div>
</body>

</html>