<!DOCTYPE HTML>
<html lang="ko">
<head>
  <title>180321-자기소개서/프로파일</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <style>
    body,
    td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>

<body>
  <h1>180321-자기소개서/프로파일</h1>

  <div>
    <span>
      <div>
        <div>-자기소개서/프로파일</div>
        <div><br /></div>
        <div>keyPoint?</div>
        <div>
          <ol start="1">
            <li>
              <div>콘셉트</div>
            </li>
            <li>
              <div>핵심</div>
            </li>
            <li>
              <div>시를 인용(문학적인 감수성 활용)</div>
            </li>
          </ol>
        </div>
        <div><br /></div>
        <div>업무 능력은 입사 시 시간이 지나고 배움을 거치면 자연스럽게 습득되는 것.</div>
        <div>내가 들어가야 할 사람이라고 표출하는 것이 면접.</div>
        <div>본인을 얕잡아 보지 말것.</div>
        <div>
          <hr />
          <div>회사에서 원하는 이력서 틀에 완전히 맞출 필요는 없다.</div>
        </div>
        <div>이력서도 나를 표현할 수 있는 좋은 기회이므로 심미성있게 짜임새를 구성해야 한다.</div>
        <div><br /></div>
        <div>회사에 대한 관심 - 회사의 대한 나의 평가(세견에 객관적으로 정평된 회사의 가치) - 나의 직무 연관성 - 이루고자하는 목표를 선명하고 뚜렷하게.</div>
        <div>
          <hr />
          <div>발음연습은 필수.</div>
        </div>
        <div>가갸거겨고교구규그기게개괴귀과..</div>
        <div>은근 도움이 된다.</div>
        <div><br /></div>
        <div>모음에 집중해서 말하기</div>
        <div>한 템포 쉬고 이야기 하기</div>
        <div>천천히 생각 전달하기</div>
        <div><br /></div>
        <div>문장별로 연습하기</div>
        <div>구체적이고 작은 이야기, 메모하고 연습하기</div>
        <div>
          <hr />
          <div>최선을 다하기만 하면 그것으로 충분하다는 사실을 기억하자.</div>
        </div>
        <div><br /></div>
        <div>자존감을 극복하기위해 인문학을 배운다(노숙자 회복 캠페인)</div>
        <hr />
        <div>직무.</div>
        <div><br /></div>
        <div>1년이내 퇴사자 42%</div>
        <div><br /></div>
        <div>인사담당자가 뽑은 가장 꼴불견</div>
        <div>1. 면접 및 합격후 잠수. 안 온사람</div>
        <div>2. 회알못(직무이해도 X ) </div>
        <div><br /></div>
        <hr />
        <div>내가 그동안 목표를 세웠을 때 실패한것.</div>
        <div>1. 노력이 없어서</div>
        <div>2. 시간이 많다 생각해서</div>
        <div><br /></div>
        <div>= 사실은 하고 싶지 않았던것 </div>
        <div>스스로 착각에  빠진 것.</div>
      </div>
    </span>
  </div>
</body>

</html>