<html>
<head>
  <title>180323-노동법</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="exporter-version" content="Evernote Windows/308292 (ko-KR, DDL); Windows/10.0.0 (Win64);"/>
  <style>
    body, td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>
<body>
<h1>180323-노동법</h1>

<div>
<span>
  <div><span style="font-weight: bold;">노동법</span></div>
  <div><br /></div>
  <div>근로계약서? 필수</div>
  <div>
    <ul>
      <li>
        <div>근로계약서 서면or구두</div>
      </li>
      <li>
        <div>근로자에게 1부 교부(사업자 + 근로자)</div>
      </li>
      <li>
        <div>위반 시 500만원 이하 벌금형(과태료와는 다른 개념- 형사처벌)</div>
      </li>
    </ul>
    <div><br /></div>
  </div>
  <div>안쓰면 형사처벌. </div>
  <div>단, 하루도 무적권 써야 한다.</div>
  <div><br /></div>
  <div>계약서의 내용은 주로</div>
  <div>
    <ol start="1">
      <li>
        <div>갑 을</div>
      </li>
      <li>
        <div>계약기간 (가장 중요! 정규직/비정규직의 차이)</div>
      </li>
      <li>
        <div>근무장소</div>
      </li>
      <li>
        <div>업무내용</div>
      </li>
      <li>
        <div>소정근로시간</div>
      </li>
      <li>
        <div>근무일/휴일</div>
      </li>
    </ol>
  </div>
  <div><br /></div>
  <div>
    <hr />
    <div>정규직의 장점</div>
  </div>
  <div>
    <ol start="1">
      <li>
        <div>정년보장</div>
      </li>
      <li>
        <div>회사 소속(파견과 하청x)</div>
      </li>
      <li>
        <div>사내 근로조건 100% 적용(복지, 상여,식대 등)</div>
      </li>
    </ol>
  </div>
  <div><br /></div>
  <div>무기계약직?</div>
  <div> 계약직일때는 상여금등 을 줘야하지만, 무기계약직은 노동법이 보호할 수 없다.(정년보장x)</div>
  <div> </div>
  <div>우리나라 계약직은 최대 2년 계약직.(2년 1달의 경우 정규직으로 전환 된다.) - 법의 효력이 미친다[중요]</div>
  <div>
    <hr />
    <div>비정규직 노동자 규모(2016)</div>
  </div>
  <div>
    <ol start="1">
      <li>
        <div><span style="font-size: 10pt;">정부 : 32.8% (한시적근로,시간제,파견,용역)</span></div>
      </li>
      <li>
        <div><span style="font-size: 10pt;">노동계 : 44.5%(통계청 유형 + 장기임시근로)</span></div>
      </li>
      <li>
        <div><span style="font-size: 10pt;">경영계 : 14.9% (기간제 근로자만)</span></div>
      </li>
    </ol>
  </div>
  <div><br /></div>
  <div>파견근로자와 하청근로자는 차이가 있다(제조업은 파견근로자 x / 하도급업체에게 받아야한다)</div>
  <div
    style="box-sizing: border-box; padding: 8px; font-family: Monaco, Menlo, Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; color: rgb(51, 51, 51); border-radius: 4px; background-color: rgb(251, 250, 248); border: 1px solid rgba(0, 0, 0, 0.15);-en-codeblock:true;">
    <div>인천국제공항?</div>
    <div>전체 근로자 중 82.5%가 비정규직</div>
    <div>공공기관 중 가장 높다.</div>
  </div>
  <div><br /></div>
  <div>최저임금? 강행규정(포기, 위반, 강요 해도 무조건 적용된다)</div>
  <div>2018 최저임금 : 7530원</div>
  <div>월급(주40시간 + 주휴수당) : 1573770원</div>
  <div>최저임금 위반 : 3년이하 징역 or 2000만원 이하 벌금형</div>
  <div>(헌법 제 32조에 최저임금제 등의 제정 근거와 근로기준법의 제정 근거가 나와있다 [1,3항])</div>
  <div>
    <hr />
  </div>
  <div>지금다시 헌법 - 책 **</div>
  <div><br /></div>
  <div>임금의 구성항목?</div>
  <div>
    <ul>
      <li>
        <div>직무수당,직책수당,조정수당,기술수당,위험수당,,,등등</div>
      </li>
      <li>
        <div><span style="font-weight: bold;">식대,교통비,상여금, 복리후생비,시간외근로수당 제외(현행법상 구성될 수 없다!)</span></div>
      </li>
    </ul>
  </div>
  <div>
    <hr />
    <div>주휴수당 : 주 소정근로시간 15일 * 시급</div>
  </div>
  <div><br /></div>
  <div>연차유급휴가?</div>
  <div>1년 80% 출근 이상 - 15개 발생</div>
  <div>1년 80% 미만 출근 - 1달 개근시 1개 발생(개정)</div>
  <div>재직 1년 미만자 - 1달 개근시 1개 발생(개정)</div>
  <div>휴가 사용않고 퇴직시 수당 청구권 발생</div>
  <div>(무적권 5인 이상 사업장)</div>
  <div><br /></div>
  <div>2018/5/19 개정</div>
  <div>
    <ul>
      <li>
        <div>1년 미만 재직자 1개월 개근시 휴가 1개 &gt;&gt; 신입사원 1년차 최대 11일</div>
      </li>
      <li>
        <div>사용 시 다음해 연차휴가일수에서 차감(땡겨쓰는 개념) </div>
      </li>
      <li>
        <div>입사 후 2년동안 총 15일의 연차휴가 발생 &gt;&gt; 2년차 15일</div>
      </li>
      <li>
        <div>도합 26일의 연차휴가 보장 </div>
      </li>
    </ul>
  </div>
  <div><br /></div>
  <div>퇴직금?</div>
  <div>
    <ol start="1">
      <li>
        <div>주 15시간 이상 근무. 1년이상 재직(근무를 하지 않아도, 출근을 하지 않아도 1년 채운 것)</div>
      </li>
      <li>
        <div>1년 일 &gt;&gt; 1개월치 월급(고용노동부 퇴직금 계산 활용)</div>
      </li>
      <li>
        <div>퇴직연금이 나을 수 있다(가입한 은행이 부도가 나도 보증이 된다)</div>
      </li>
    </ol>
  </div>
  <div><br /></div>
  <div>휴게시간</div>
  <div>
    <ul>
      <li>
        <div>4시간 이상 : 30분이상(8시간은 1시간 이상)</div>
      </li>
    </ul>
  </div>
  <div><br /></div>
  <div>해고</div>
  <div>
    <ul>
      <li>
        <div>해고시기 및 사유를 서면 통지</div>
      </li>
      <li>
        <div><span style="font-weight: bold;">30일 전 통보</span> 않으면 30일분 이상의 통상임금 지급!</div>
      </li>
    </ul>
  </div>
  <div><br /></div>
  <div
    style="box-sizing: border-box; padding: 8px; font-family: Monaco, Menlo, Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; color: rgb(51, 51, 51); border-radius: 4px; background-color: rgb(251, 250, 248); border: 1px solid rgba(0, 0, 0, 0.15);-en-codeblock:true;">
    <div>4대보험? 주 15시간, 한달 60시간 이상</div>
    <div>고용보험 : 실업급여 지원</div>
    <div>건강보험 : 국가의 의료지원</div>
    <div>산재보험 : 산재보상</div>
    <div>국민연금 : 노후 안정</div>
  </div>
  <div><br /></div>
  <div>주휴일 및 근로자의날 만 노동법상 유급휴일(그 외는 약정휴일)</div>
  <div>
    <hr />
  </div>
  <div>산재보상?(<span style="font-weight: bold;">무과실 책임주의</span> 로 과실을 따지지 않는다)</div>
  <div>
    <ol start="1">
      <li>
        <div>업무상 사고,부상 질병</div>
      </li>
      <li>
        <div>근로자의 실수로 인한 사고도 인정</div>
      </li>
      <li>
        <div>4대보험 미가입 사업장이라도 신청 가능</div>
      </li>
      <li>
        <div>대한민국의 모든 근로자가 가능</div>
      </li>
      <li>
        <div>재해 발생 후(질병판정일) 3년 이내에 신청(퇴사 or 폐업도 신청 가능)</div>
      </li>
      <li>
        <div>사업주에게 치료비를 받아도 신청 가능</div>
      </li>
    </ol>
    <div><br /></div>
  </div>
  <div>oecd중 산재 사망사고율 1위.(10만명당 10.8명)</div>
  <div>
    <hr />
  </div>
  <div>고객등에 의한 성희롱 발생 시에도 즉시 조치 가능</div>
  <div>3일 난임휴가 신설(18년 난임인구 218000명)</div>
  <div><br /></div>
  <div>육아휴직 또한 출근으로 인정.</div>
  <div>육아휴직은 연차와 별개이다.</div>
  <div><br /></div>
  <div
    style="box-sizing: border-box; padding: 8px; font-family: Monaco, Menlo, Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; color: rgb(51, 51, 51); border-radius: 4px; background-color: rgb(251, 250, 248); border: 1px solid rgba(0, 0, 0, 0.15);-en-codeblock:true;">
    <div>국무노무법인- 진재영 노무사(062-444-4569)</div>
    <div>email : <a href="mailto:0401jjy@hanmail.net">0401jjy@hanmail.net</a></div>
  </div>
  <div><br /></div>
  <div>신규.</div>
  <div>
    <ul>
      <li>
        <div>
          <font style="font-size: 10pt;"><span style="font-size: 10pt;"> 산재에 대해 입증을 가족(혹은 본인)이 했었지만, 추후 국가가 입증을 해야 하는
              것으로 바뀐다.</span></font>
        </div>
      </li>
      <li>
        <div> 개인 자가용(보도,대중교통) 포함 모든 출퇴근 경로에서 발생한 사건 또한 산재 포함.</div>
      </li>
      <li>
        <div> 산재는 회사가 인정하지 않고 날인을 받지 않아도 신청이 가능하다.</div>
      </li>
    </ul>
  </div>
  <div><br /></div>
  <div>
    <hr />
    <div><br /></div>
  </div>
  <div>경청. 몸을 기울이면서 / 눈,귀,마음으로 듣고 보고 공감하고</div>
  <div>메모하는 습관은 좋다.</div>
  <div>
    <hr />
    <div>화법.</div>
  </div>
  <div> 호칭어를 사용하면 분위기를 조절할 수 있다.</div>
  <div> 존경이자 함부로 하지 않는 매너</div>
  <div><br /></div>
  <div>명함.</div>
  <div>이름, 번호, 직업, 직책, 이메일 등 연락할 수 있는 루트, 회사로고, sns</div>
  <div><br /></div>
  <div>약력이나 하는 일. or 나를 표현하는 이미지 and 아트, 좌우명</div>
</span>
</div></body></html>