<!DOCTYPE HTML>
<html lang="ko">
<head>
  <title>180320-관계</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <style>
    body,
    td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>

<body>
  <h1>180320-관계</h1>

  <div>
    <span>
      <div>
        <div>관계??</div>
        <div>선택과 지정이 있다.</div>
        <div>두 타입의 차이점은 소통의 차이(방식이 다르기때문에 결과또한 다르다)</div>
        <hr />
        <div>친밀감이 주는 업무적이 효율은 단순한 업무&amp;복잡한 업무(협업) 의 완성도가 높아지도록 만든다.</div>
        <div>-미네소타대학 연구자료</div>
        <hr />
        <div
          style="box-sizing: border-box; padding: 8px; font-family: Monaco, Menlo, Consolas, monospace; font-size: 12px; color: rgb(51, 51, 51); border-radius: 4px; background-color: rgb(251, 250, 248); border: 1px solid rgba(0, 0, 0, 0.15);-en-codeblock:true;">
          <div>관계 와 소통 은 깊은 상호관계성이 있다</div>
        </div>
        <hr />
        <div><br /></div>
        <ul>
          <li>
            <div>소통을 잘하는 사람</div>
          </li>
          <ul>
            <li>
              <div>잘듣는사람</div>
            </li>
            <li>
              <div>리액션!</div>
            </li>
            <li>
              <div>기억을 잘 한다</div>
            </li>
            <li>
              <div>고마움을 표현해 주는 사람</div>
            </li>
            <li>
              <div>공통점을 잘 찾는다</div>
            </li>
          </ul>
        </ul>
        <div><br /></div>
        <div>비 언어적 지지(우리의 몸은 말보다 더 많은 말을 한다)</div>
        <ol start="1">
          <li>
            <div>Smile</div>
          </li>
          <li>
            <div>Open posture</div>
          </li>
          <li>
            <div>Forward leaning</div>
          </li>
          <li>
            <div>Touch</div>
          </li>
          <li>
            <div>Eye contact</div>
          </li>
          <li>
            <div>Nod</div>
          </li>
        </ol>
        <div><br /></div>
        <div>아이컨택은 중요하다.</div>
        <div
          style="box-sizing: border-box; padding: 8px; font-family: Monaco, Menlo, Consolas, monospace; font-size: 12px; color: rgb(51, 51, 51); border-radius: 4px; background-color: rgb(251, 250, 248); border: 1px solid rgba(0, 0, 0, 0.15);-en-codeblock:true;">
          <div>관계의 프로는?</div>
          <div><br /></div>
          <div>비난 &gt;&gt; 요청</div>
          <div>방어 &gt;&gt; 부분적인 인정</div>
          <div>경멸 &gt;&gt; 호감 / 존중</div>
          <div>담쌓기 &gt;&gt; 진정 후 대화</div>
        </div>
        <div><br /></div>
        <div>친밀한 관계소통은</div>
        <div>
          <ol start="1">
            <li>
              <div>먼저 인사</div>
            </li>
            <li>
              <div>먼저 진심으로 사과</div>
            </li>
            <li>
              <div>상대의 장점 &quot;자주&quot; 찾기</div>
            </li>
            <li>
              <div>감사할 줄 알고 &quot;자주&quot; 전하기</div>
            </li>
            <li>
              <div>상대의 도움과 노고를 자주 인정하기</div>
            </li>
          </ol>
        </div>
        <div><br /></div>
        <div>머리에 담아둔 것을 활용해야 '추파춥스' 같은 생각만 가득한 사탕이 되지 않는다.</div>
        <div><br /></div>
        <div>-관계의 발전</div>
        <div>
          <ul>
            <li>
              <div>무관심 : 마음열기 = 마음을 열고 다가간다</div>
            </li>
            <li>
              <div>이해 : 질문 &amp; 반응 = 상대를 알아가고 나를 알려준다</div>
            </li>
            <li>
              <div>공감 : 이입 = 비슷한점 새로운점을 공감한다</div>
            </li>
            <li>
              <div>이심전심 : 함께하기</div>
            </li>
          </ul>
          <div><br /></div>
        </div>
        <div>협업은 서로의 강점+강점... 시너지 up</div>
        <div><br /></div>
        <div>처음보고는 서로의 강점을 유추할 뿐, 진면목을 볼 수 없다.</div>
        <div>계속 지켜보고 찾아내서 끄집어내줘야 한다.</div>
        <div>자기 스스로의 강점도 마찬가지.</div>
        <div><br /></div>
        <div
          style="box-sizing: border-box; padding: 8px; font-family: Monaco, Menlo, Consolas, monospace; font-size: 12px; color: rgb(51, 51, 51); border-radius: 4px; background-color: rgb(251, 250, 248); border: 1px solid rgba(0, 0, 0, 0.15);-en-codeblock:true;">
          <div>해고스랩 연구</div>
          <div> - 직장에서의 강점 활용 정도</div>
          <div>  1. 항상 활용 : 47%</div>
          <div>  2. 1년 직장 내 성과에서 상위 5% : 13%</div>
        </div>
        <div><br /></div>
        <div>우리는 약점을 보는 시야를 강점을 보는 시야보다 더 민감하다.</div>
        <div>자존감을 높이기 위해선 비교는 좋은 것이지만, 강점은 비교하는 것이 아니라 개별적인 속성이다.</div>
        <div>비교는 자신감에 풍선불기와 같다.</div>
        <div><br /></div>
        <div
          style="box-sizing: border-box; padding: 8px; font-family: Monaco, Menlo, Consolas, monospace; font-size: 12px; color: rgb(51, 51, 51); border-radius: 4px; background-color: rgb(251, 250, 248); border: 1px solid rgba(0, 0, 0, 0.15);-en-codeblock:true;">
          <div>강점?</div>
          <div>- 잘하는 것? 훈련된 것과는 차이가 있다</div>
          <div>- 힘을 얻는 것?</div>
          <div>- 오래할 수 있는 것?</div>
          <div><br /></div>
          <div><br /></div>
          <div>강점을 개발하고 활용하는 것은 삶에서 최고의 성공 &amp; 가장 깊은 감정적 만족을 준다.</div>
        </div>
      </div>
      <div><br /></div>
    </span>
  </div>
</body>

</html>