<!DOCTYPE HTML>
<html lang="ko">

<head>
  <title>180622 스피치센터</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <style>
    body,
    td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>

<body>
  <h1>180622 스피치센터</h1>

  <div><span>
      <div>Speech = 반응</div>
      <div>-메라비언의 법칙  시각 &gt; 청각 &gt; 언어</div>
      <div><br /></div>
      <div>
        <hr />
      </div>
      <div>면접 시나리오를 작성한다. 배우가되어 연기를 한다.</div>
      <div><br /></div>
      <div>- 30~40초 이내의 짧은 자기소개가 필요하다.</div>
      <div>면접의 흐름.</div>
      <div>1. 열린질문</div>
      <div>2. 공격적인질문</div>
      <div>3. 세부적으로 궁금한 사항</div>
      <div>4. 마무리 질문(면접을 끝내는 질문) </div>
      <div> </div>
      <div>- 기출문제는 특정질문(중복된), 1~2년 내 최근질문을 준비해간다.</div>
      <div>- 면접분위기(후기)를 읽고 온화한지 냉철한지 분위기를 파악하고 질문에 대한 답변의 온도를 결정한다.</div>
      <div>-기업이슈(증권사이트), 시장에서 경쟁사보다 우위에 있는 점, 약점을 해결하기위한 방향성 제시.</div>
      <div><br /></div>
      <div>
        <hr />
      </div>
      <div>인성면접.</div>
      <div><br /></div>
      <div>역량이 완전히 부족하지 않는이상, 역량이 조금 떨어지지만 인성이 좋은사람을 뽑는다.</div>
      <div>주로 사례를 묻는 질문을 한다.</div>
      <div>-열정</div>
      <div>-책임감</div>
      <div>-윤리의식</div>
      <div>-창의 등</div>
      <div><br /></div>
      <div>Pt면접 = 5분정도</div>
      <div>상황면접 = 실제인냥 연기</div>
      <div><br /></div>
      <div>
        <hr />
      </div>
      <div>마무리 멘트.</div>
      <div>하고싶은말 없어요? 궁금한거 없어요?</div>
      <div>했을 때 안하는 것보다 하는것이 낫다.</div>
      <div><br /></div>
      <div>깔끔하게 딱 떨어져야하는 대답이어야한다.</div>
      <div>열린 대답보다 확실하게 결말이 떨어지는 대답으로.</div>
      <div>  </div>
      <div>
        <hr />
      </div>
      <div>안전지대 : 듣고, 쉬고, 자유로운영역</div>
      <div>도전지대 : 말하고, 긴장하고, 불편한영역</div>
      <div><br /></div>
      <div>두 경계가 모호해져야 한다.</div>
      <div><br /></div>
      <div>그리고 뙇! 존재감을 보여주는것이 중요하다.</div>
      <div>이상해보이거나 웃길수있지만 안하는 것 보다 낫다!  </div>
    </span>
  </div>
</body>

</html>