<html>
<head>
  <title>180723_aws_WITH_gitbash_ubuntu_LAMP설정(PHP7,APACHE2,MYSQL)_for_wordPress</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="exporter-version" content="Evernote Windows/308292 (ko-KR, DDL); Windows/10.0.0 (Win64);"/>
  <style>
    body, td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>
<body>
<h1>180723_aws_WITH_gitbash_ubuntu_LAMP설정(PHP7,APACHE2,MYSQL)_for_wordPress</h1>

<div>
<span>
  <div>
    <ul>
      <li>
        <div>
          <font style="font-size: 10pt;"><span
              style="font-size: 10pt; font-family: D2Coding; font-weight: bold; text-decoration: underline;">가끔씩 update와
              upgrade(or dist-upgrade) 를 호출한다.</span></font>
        </div>
      </li>
    </ul>
    <div><br /></div>
    <div><span style="font-size: 10pt; font-family: D2Coding;">gitbash 실행</span></div>
    <ol>
      <li>
        <div><span style="font-size: 14pt; font-family: D2Coding; font-weight: bold;">ssh -i &quot;개인pem경로&quot;
            &quot;계정이름&quot;@&quot;도메인(or publicip)&quot; </span></div>
        <div><span style="font-size: 10pt; font-family: D2Coding;">- git bash 터미널로 시큐어셀(Secure Shell,[</span><a
            href="https://ko.wikipedia.org/wiki/%EC%8B%9C%ED%81%90%EC%96%B4_%EC%85%B8"
            style="font-size: 10pt; font-family: D2Coding;">SSH</a><span
            style="font-size: 10pt; font-family: D2Coding;">] - 네트워크 상 다른 컴퓨터에 로그인하거나 원격 시스템에서 명령 실행 및 파일 복사)프로토콜로 연결한다.
            이때, 미리 지정하여 프라이빗 키로 만든 아마존의 키페어(확장자 pem, 2048비트 ssh-2 RSA 방식)의 경로를 적어주고, [</span><a
            href="https://drive.google.com/open?id=1-jUt5oUQOafxnpi-_lMC_GRKGiU1FA5y"
            style="font-size: 10pt; font-family: D2Coding;">계정이름</a><span
            style="font-size: 10pt; font-family: D2Coding;">]을 입력 후, 서버 도메인을 입력하여 연결한다.</span></div>
      </li>
      <li>
        <div><span style="font-size: 14pt; font-family: D2Coding;">sudo apt-get install apache2</span></div>
        <div><span style="font-size: 10pt; font-family: D2Coding;">- superuser 권한으로 패키지관리 명령어 도구([</span><a
            href="https://ko.wikipedia.org/wiki/%EC%96%B4%EB%93%9C%EB%B0%B4%EC%8A%A4%ED%8A%B8_%ED%8C%A8%ED%82%A4%EC%A7%95_%ED%88%B4"
            style="font-size: 10pt; font-family: D2Coding;">APT</a><span
            style="font-size: 10pt; font-family: D2Coding;">], Advanced Packaging Tool)를 활용해 아파치 서버를 설치한다.</span></div>
      </li>
      <li>
        <div><span style="font-size: 14pt; font-family: D2Coding;">sudo apt-get install php</span></div>
        <div><span style="font-size: 10pt; font-family: D2Coding;">- 서버 언어 php를 설치한다.(여기서 주의사항은 ubuntu 16버전부터 php5를 지원하지
            않는다. 때문에 php7 이상을 사용하는데, 이때문문에 라이브러리 모듈을 설치해준다/호환성)</span></div>
        <div><span style="font-size: 10pt; font-family: D2Coding;">- 에러메시지 내용 : </span><span
            style="font-size: 10pt; min-height: 10pt; color: rgb(1, 1, 1); font-family: D2Coding;">Package 'php5' has no
            installation candidate</span></div>
        <div><span style="font-size: 10pt; min-height: 10pt; color: rgb(1, 1, 1); font-family: D2Coding;">- php version
            확인 : php -v</span></div>
      </li>
      <li>
        <div><span style="min-height: 10pt;"><span
              style="font-size: 14pt; color: rgb(1, 1, 1); font-family: D2Coding;">sudo apt-get install
              libapache2-mod-php7.0</span></span></div>
        <div><span style="min-height: 10pt;"><span
              style="font-size: 10pt; color: rgb(1, 1, 1); font-family: D2Coding;">- 위에서 언급한 모듈 설치</span></span></div>
      </li>
      <li>
        <div><span style="min-height: 10pt;"><span
              style="font-size: 14pt; color: rgb(1, 1, 1); font-family: D2Coding;">a2query -m php7.0</span></span></div>
        <div><span style="min-height: 10pt;"><span
              style="font-size: 10pt; color: rgb(1, 1, 1); font-family: D2Coding;">- php의 버전 확인 및 사용가능 여부 확인
              &gt;&gt; </span><span
              style="font-size: 10pt; min-height: 10pt; color: rgb(1, 1, 1); font-family: D2Coding;">php7.0 (enabled by
              maintainer script)</span></span></div>
      </li>
      <li>
        <div><span style="min-height: 10pt;"><span
              style="font-size: 14pt; color: rgb(1, 1, 1); font-family: D2Coding;">sudo /etc/init.d/apache2
              restart</span></span></div>
        <div><span style="min-height: 10pt;"><span
              style="font-size: 10pt; color: rgb(1, 1, 1); font-family: D2Coding;">- 아파치웹서버 리부트(변경적용)</span></span>
        </div>
      </li>
      <li>
        <div><span style="min-height: 10pt;"><span
              style="font-size: 14pt; color: rgb(1, 1, 1); font-family: D2Coding;">cd /var/www/html</span></span></div>
        <div><span style="min-height: 10pt;"><span
              style="font-size: 10pt; color: rgb(1, 1, 1); font-family: D2Coding;">- 실제적으로 view를 보여주는 웹상에서의 최상위 루트인
              [</span><a href="https://zetawiki.com/wiki/DOCUMENT_ROOT"
              style="font-size: 10pt; font-family: D2Coding;">DocumentRoot</a><span
              style="font-size: 10pt; color: rgb(1, 1, 1); font-family: D2Coding;">]이다. 파일 생성을 위해 이동.</span></span>
        </div>
      </li>
      <li>
        <div><span style="font-size: 14pt; color: rgb(1, 1, 1); font-family: D2Coding;">sudo vi info.php</span></div>
        <div><span style="font-size: 10pt; min-height: 10pt; color: rgb(1, 1, 1); font-family: D2Coding;">- 에디터를 통해서
            info.php를 만들어준다.(다른 에디터를 사용하거나, ftp서버를 통해 파일을 추가할수도 있다.)</span></div>
        <div><span style="font-size: 13.3333px; color: rgb(1, 1, 1); font-family: D2Coding;">- 여기서 경로 실수를 통해 파일이 다른 위치에
            만들어졌다면 [mv] 명령어를 사용한다. : mv &quot;이동 및 변경하고자하는 원본파일 이름&quot; &quot;이동을 원하는 경로 및 바꾸려고하는 파일 이름&quot;
            : </span><span style="font-size: 10pt; min-height: 10pt; color: rgb(1, 1, 1); font-family: D2Coding;">sudo
            mv info.php html/</span></div>
      </li>
      <li>
        <div><span style="font-size: 14pt; color: rgb(1, 1, 1); font-family: D2Coding;">도메인/info.php : php정보확인</span>
        </div>
      </li>
      <li>
        <div><span style="min-height: 10pt;"><span
              style="font-size: 14pt; color: rgb(1, 1, 1); font-family: D2Coding;">sudo apt-get install
              mysql-server</span></span></div>
        <div><span style="min-height: 10pt;"><span
              style="font-size: 10pt; color: rgb(1, 1, 1); font-family: D2Coding;">- mysql을 설치한다.(중간에 root 암호를
              지정한다)</span></span></div>
      </li>
      <li>
        <div><span style="min-height: 10pt;"><span
              style="font-size: 14pt; color: rgb(1, 1, 1); font-family: D2Coding;">sudo apt-get install
              php-mcrypt</span> <span
              style="font-size: 14pt; color: rgb(1, 1, 1); font-family: D2Coding; font-weight: bold;">php-mysql</span>
            <span style="font-size: 14pt; color: rgb(1, 1, 1); font-family: D2Coding;">php-cli php-common</span></span>
        </div>
        <div><span style="min-height: 10pt;"><span
              style="font-size: 10pt; color: rgb(1, 1, 1); font-family: D2Coding;">- 사실상 이부분은 필수 모듈 설치. php-mysql은
              필수.</span></span></div>
      </li>
      <li>
        <div><span style="font-size: 14pt; color: rgb(1, 1, 1); font-family: D2Coding;">apache2와 mysql을 재시작한다. (참고
            :6번 </span><span
            style="min-height: 10pt; font-size: 14pt; color: rgb(1, 1, 1); font-family: D2Coding;">/etc/init.d/apache2
            restart</span><span style="font-size: 14pt; color: rgb(1, 1, 1); font-family: D2Coding;">)</span></div>
      </li>
      <li>
        <div><span style="min-height: 10pt;"><span
              style="font-size: 14pt; color: rgb(1, 1, 1); font-family: D2Coding;">sudo netstat -nlp</span></span></div>
        <div><span style="min-height: 10pt;"><span
              style="font-size: 10pt; color: rgb(1, 1, 1); font-family: D2Coding;">- 네트워크의 [</span><a
              href="https://drive.google.com/open?id=10kgz7_2N0coEv38P8vOLCyc7xPozV2Cc"
              style="font-size: 10pt; font-family: D2Coding;">포트상태</a><span
              style="font-size: 10pt; color: rgb(1, 1, 1); font-family: D2Coding;">]가 보여진다. 이때, 3306,22,80 포트가 열려있다면 ok.
              : [LISTENING /</span> <a href="http://storytown.tistory.com/14"
              style="font-size: 10pt; font-family: D2Coding;">PORT-FORWARDING</a><span
              style="font-size: 10pt; color: rgb(1, 1, 1); font-family: D2Coding;">]</span></span></div>
      </li>
      <li>
        <div><span
            style="font-size: 14pt; color: rgb(255, 70, 53); font-family: D2Coding; font-style: italic;">*optional* </span><span
            style="min-height: 10pt;"><span style="font-size: 14pt; color: rgb(1, 1, 1); font-family: D2Coding;">sudo
              apt-get install phpmyadmin</span></span></div>
        <div><span style="min-height: 10pt;"><span
              style="font-size: 10pt; color: rgb(1, 1, 1); font-family: D2Coding;">- 웹상에서 데이터베이스를 손쉽게 관리하기 위해서 설치하는 dbms
              web GUI를 설치한다(선택적)</span></span></div>
        <div><span style="min-height: 10pt;"><span
              style="font-size: 10pt; color: rgb(1, 1, 1); font-family: D2Coding;">- apache2? mysql 만 'space bar'로 선택하여
              enter.</span></span></div>
      </li>
    </ol>
    <div><br /></div>
    <div>
      <hr />
      <div>여기까지 Ubuntu LAMP 초기 설정 및 웹 db관리툴 생성.</div>
    </div>
    <div style="min-height: 10pt;"><br /></div>
  </div>
  <div><br /></div>
</span>
</div></body></html>