<!DOCTYPE HTML>
<html lang="ko">

<head>
  <title>180819_php crud_security</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <style>
    body,
    td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>

<body>
  <h1>180819_php crud_security</h1>

  <div>
    <span>
      <div>
        <div>
          <div>보안위협(script공격)</div>
          <ul>
            <li>
              <div>xss(Cross Site Scripting)</div>
            </li>
            <li>
              <div>source파일 생성</div>
            </li>
            <li>
              <div>file system 공격</div>
            </li>
          </ul>
        </div>
        <div><br /></div>
        <div>UI &amp; API</div>
        <div>    UI(User Interface) ??</div>
        <div>    :눈에 보이는 인터페이스. 시각적이면서 제공되는 사용되는 것.</div>
        <div>    </div>
        <div>    API(Application Programing Interface) ??</div>
        <div>    :언어 문법에 따라서 사용하는 인터페이스. 명령 위주이고 기반 시스템이다.</div>
        <hr />
        <div><br /></div>
        <div>모든 것을 공부한 다음에 프로젝트에 투입?? 비효율적. 많은 투자 대비 수익이 적다.</div>
        <div><br /></div>
        <div>프로젝트를 진행하면서 하는 공부?? 비효율적|효율적. 투자 대비 많은 수익 혹은 실패가 따를 수 있지만, 배움이 많다.</div>
        <div><a href="https://getcomposer.org/">https://getcomposer.org/</a> : php 패키지 관리자</div>
      </div>
      <div><br /></div>
    </span>
  </div>
</body>

</html>