<!DOCTYPE HTML>
<html lang="ko">

<head>
  <title>180807_bitnami_rootDirectory변경</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <style>
    body,
    td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>

<body>
  <h1>180807_bitnami_rootDirectory변경</h1>

  <div>
    <span>
      <div>
        <ol>
          <li>
            <div>Bitnami\wampstack-7.1.20-1\apache2\conf\bitnami.conf<br /></div>
            <div>위 경로로 따라 들어가 bitnami.conf를 편집한다.</div>
          </li>
          <li>
            <div>document root를 변경해준다. (documentRoot &amp; Directory 둘다)</div>
            <div><img src="../resources/180807_bitnami_rootDirectory변경_files/Image.png" type="image/png"
                data-filename="Image.png" />
            </div>
          </li>
          <li>
            <div>웹 서버로(127.0.0.1:포트)로 접속할 시 지정한 루트를 최상위로 잡는다.</div>
          </li>
        </ol>
        <div><br /></div>
      </div>
    </span>
  </div>
</body>

</html>