<!DOCTYPE HTML>
<html lang="ko">

<head>
  <title>180826_mysql_start / 180828_join / 180831_dbAndInternet</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <style>
    body,
    td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>

<body>
  <h1>180826_mysql_start / 180828_join / 180831_dbAndInternet</h1>

  <div>
    <span>
      <div>
        <div>
          <div>
            <div>program, application 에 있어 database는 필수다.</div>
            <div><br /></div>
            <div>data의 가치를 높여주는, 활용할 수 있게 해주는 것.</div>
            <div><img src="../resources/180826_mysql_start  180828_join  180831_dbAnd_files/Image.png" type="image/png"
                data-filename="Image.png" /></div>
            <div>database schema</div>
            <hr />
            <div>왜 database의 table을 생성할 때 데이터 타입을 입력할까?</div>
            <div> : 엑셀같은 경우, 표를 작성할 때 그 셀안에 어떠한 값이 들어가든 무한히 잘 입력되고</div>
            <div>그에 해당하는 타입이 서식으로 지정된다.(예를 들어 숫자, 문자..)</div>
            <div>소량의 데이터라면 위와 같이 아무렇게나 적어도 될 것 같지만.. 추후를 생각한다면, 발전을 도모하고자 한다면 해당 컬럼의 데이터 타입은 지정해줘야 한다.</div>
            <div><br /></div>
            <div>서랍을 열었을 때, 첫번째 칸에 일자나사,십자나사,나사못 과 같은 나사류가 들어있다.</div>
            <div>그리고 두번째 서랍같은 경우, 취급에 주의해야 할 액체가 들어있다.</div>
            <div>세번째엔 두번째 서랍에 들어있는 액체와 닿아선 안되는 것들로 채워져 있다.</div>
            <div><br /></div>
            <div>위와 같이 정리되어있다면</div>
            <ol>
              <li>
                <div>문제를 예방할 수 있다.</div>
              </li>
              <li>
                <div>다양한 일에 사용할 수 있는 활용도가 높아진다.</div>
              </li>
              <li>
                <div>권한 및 접근성이 생긴다.</div>
              </li>
              <li>
                <div>유지보수에 용이하다.</div>
              </li>
              <li>
                <div>그러나 사전에 각 부분에 대해 숙지가 필요하다.(데이터의 성질 파악)</div>
              </li>
            </ol>
            <div><br /></div>
            <div>만약 위와같은 식의 정리가 이루어지지 않았다면, 지속적으로 사용하기전에 사용법에 대해 고지하고 무조건 열어봐야만 알 수 있는 어지로운 창고가 될 것이다. 추후 유지보수에도 상당한
              불편함을
              초래할 것이고 불상사가 생길 수 있다. 이러한 책임은 오롯이 본인이 감당해야 할 것이다.</div>
            <div><br /></div>
            <div>primaryKey는 특징성을 부여하여 고유함을 증명한다.</div>
            <hr />
            <div><img src="../resources/180826_mysql_start  180828_join  180831_dbAnd_files/Image [1].png"
                type="image/png" data-filename="Image.png" /></div>
            <div><img src="../resources/180826_mysql_start  180828_join  180831_dbAnd_files/Image [2].png"
                type="image/png" data-filename="Image.png" /></div>
            <div>: 암호를 바꾸라는 에러코드다.</div>
          </div>
          <div><br /></div>
          <hr />
          <div><br /></div>
          <div>부하 및 소요시간</div>
          <div>쿼리 쪼개서 요청 &gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt; 조인 &gt; 서브쿼리
          </div>
        </div>
        <div><br /></div>
        <hr />
        <div><br /></div>
        <div>HOW TO WORK DNS?</div>
        <div><br /></div>
        <div><img src="../resources/180826_mysql_start  180828_join  180831_dbAnd_files/Image [3].png" type="image/png"
            data-filename="Image.png" /></div>
        <div><br /></div>
        <hr />
        <div><br /></div>
        <div>MySQL Monitor?</div>
        <div>명령기반 프로그램. CLI(Command Line Interface)[NOT GUI] </div>
        <div>MySQL을 설치하게 되면 그와 동시에 설치가 되어 다양한 환경에서 사용가능하다_기본중의 기본</div>
        <ul>
          <li>
            <div>명령어기반 체계라 접근성이 낮다(경험 및 지식 필요)</div>
          </li>
          <li>
            <div>단순하다</div>
          </li>
        </ul>
        <hr />
        <div><br /></div>
        <div>DB관련 문제해결 키워드</div>
        <ul>
          <li>
            <div>INDEX</div>
          </li>
          <li>
            <div>normalization(정규화) / denormalization(역정규화)</div>
          </li>
          <li>
            <div>MODELING</div>
          </li>
          <li>
            <div>BACK UP</div>
          </li>
          <li>
            <div>mysql dump</div>
          </li>
          <li>
            <div>binary log</div>
          </li>
          <li>
            <div>cloud DB(AWS RDS,NAVER,GOOGLE,AZURE...)</div>
          </li>
        </ul>
        <hr />
        <div><br /></div>
        <div>기본적으로 OUTER JOIN으로 실행된다.</div>
        <div>FROM 'A' LEFT JOIN 'B' ON '조건'</div>
        <div>으로 쓰지만, 명시적으로 OUTER를 적어주는 게 좋다.</div>
        <div><br /></div>
        <ol>
          <li>
            <div>LEFT JOIN : 왼쪽 테이블의 모든 데이터를 기준으로 하므로 B테이블에 A테이블과 매핑되는 값이(조건에 맞는 값)이 없어도 없는대로 A테이블의 값들이 나오게 된다.</div>
          </li>
        </ol>
        <div><br /></div>
      </div>
    </span>
  </div>
</body>

</html>