<!DOCTYPE HTML>
<html lang="ko">

<head>
  <title>180917_create / 180919_RDB</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <style>
    body,
    td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>

<body>
  <h1>180917_create / 180919_RDB</h1>

  <div>
    <span>
      <div>
        <div>mysqli_real_escape_string($conn,$_POST['id'])</div>
        <div>를 통해서 db에 값을 전할 때, 조금 더 확실하게 하기 위하여</div>
        <div>타입을 지정하여 보내는 것이 좋다</div>
        <div><br /></div>
        <div>db 실패가 계속 뜨고 에러문자가 안뜰 땐,</div>
        <div>db 연결 객체를 출력해본다.($conn)</div>
        <div>주로 실패시 객체 내부에서 -1을 리턴하는 것이 나오고 어디서 문제가 발생했는지 알려준다.</div>
        <hr />
        <div><br /></div>
      </div>
    </span>
  </div>
</body>

</html>