<!DOCTYPE HTML>
<html lang="ko">

<head>
  <link rel="icon" type="image/x-icon" href="../resources/img/repo_favicon.ico">
  <title>APM2</title>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136316379-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-136316379-1');
  </script>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <style>
    body,
    td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>

<body>

  <div>
    <span>
      <div>
        <div>
          <div>지난 포스트에 이어 이제 2번째 챕터입니다.</div>
          <div><br /></div>
          <div>이제 우리의 컴퓨터가 웹 서버의 역할을 할 수 있도록 Apache를 설치했으니 </div>
          <div><span style="font-size: 16pt; font-weight: bold;">PHP</span>를 설치해보도록 하겠습니다!<span
              style="color: rgb(255, 0, 0);">(19년 2월 기준 7.3.2 released)</span></div>
          <div><br /></div>
          <div>우선 다운로드 받았던 PHP 압축파일을 열어서 각자의 작업영역에 압축을 풀어줍니다.</div>
          <div>폴더명은 항상 알기 쉽게 바꿔주시면 좋습니다. 저는 알기쉽게 PHP7로 폴더명을 바꿔주었습니다.</div>
          <div><img src="../resources/APM2_files/php1.jpg" type="image/jpeg" data-filename="php1.jpg" width="825" />
          </div>
          <div><br /></div>
          <div><br /></div>
          <div><br /></div>
          <div>그리고 항상 어떤 프로그램을 설치하면서 개발환경을 맞춰줄 땐 </div>
          <div>000.conf 나 000.ini 과 같은 파일을 본인에게 맞게 설정하는 것이 첫걸음 입니다.</div>
          <div><br /></div>
          <div>폴더안에 들어가서 스크롤을 내려보면</div>
          <div><img src="../resources/APM2_files/Image.png" type="image/png" data-filename="Image.png" /></div>
          <div><br /></div>
          <div>php.ini-development(개발환경에서 필요한 추천 설정들이 추가된 것)</div>
          <div>php.ini-production(실제 배포용? 인듯)</div>
          <div>두개의 파일이 있습니다. </div>
          <div>php 5.3.0 부터 php.ini파일이 재구성되어서 위 두 파일로 구분되게 되었습니다.-&gt; <a
              href="http://php.net/manual/en/migration53.ini.php">documentation</a></div>
          <div><br /></div>
          <div>설정파일을 사용할 땐 파일명 뒤의 &quot;-blablabla...&quot;를 지우시고 ini 확장자만 남도록 하여 사용하시면 됩니다.</div>
          <div>저는 development 파일을 사용했는데 검색을 해보니까 애초에 product로 사용하는 걸 추천하는 글이 있더라고요? -&gt; <a
              href="https://stackoverflow.com/a/35211463">link</a></div>
          <div><br /></div>
          <div><br /></div>
          <div><br /></div>
          <div><br /></div>
          <div>두 설정파일이 크게 다르다고 명시되어 있지 않으니까 원하시는 파일을 골라 이름을 바꿔주시면 됩니다.</div>
          <div>'-(하이픈)'뒤 글자를 지워주세요!(원본은 놔두고 복사해서 사용해도 됩니다.)</div>
          <div><img src="../resources/APM2_files/php3.jpg" type="image/jpeg" data-filename="php3.jpg" /></div>
          <div><br /></div>
          <div><br /></div>
          <div><br /></div>
          <div><br /></div>
          <div><br /></div>
          <div><br /></div>
          <div><br /></div>
          <div><br /></div>
          <div>그 다음에 단축키 win + r 을 눌러 실행파일에 &quot;notepad&quot; 를 입력해주세요!</div>
          <div>그리고 php.ini를 메모장 작업영역에 드래그&amp;드롭하여 파일을 열어줍니다.(파일을 여는 방법은 다양하니 자유롭게 하세요)</div>
          <div>이제 내용을 하나하나 수정해나가겠습니다.</div>
          <div><br /></div>
          <ol>
            <li>
              <div>먼저 <span style="font-size: 14pt; font-weight: bold;">extension_dir</span> 값을 바꿔줍니다.(확장모듈 경로 관리)</div>
            </li>
          </ol>
          <div>ctrl + f : &quot;extension_dir&quot; 로 검색하여 아래와 같은 위치로 이동합니다.</div>
          <div><br /></div>
          <div><img src="../resources/APM2_files/Image [1].png" type="image/png" data-filename="Image.png" /></div>
          <div>위치를 본인의 php폴더 내 &quot;ext&quot; 폴더로 지정해줍니다.(ext 폴더 까지!)</div>
          <div>ex)&quot;D:\workspaces\PHP 7\ext&quot;</div>
          <div><br /></div>
          <div><img src="../resources/APM2_files/Image [2].png" type="image/png" data-filename="Image.png" /></div>
          <div><br /></div>
          <div><br /></div>
          <div><br /></div>
          <div><br /></div>
          <div><br /></div>
          <div><br /></div>
          <div><br /></div>
          <ol start="2">
            <li>
              <div><span style="font-size: 18pt;">추후 mysql 모듈과의 연결을 위해 확장을 허용해줍니다.</span>(아래이미지는 확장에 대한 간단한 설명입니다)</div>
            </li>
          </ol>
          <div><img src="../resources/APM2_files/Image [3].png" type="image/png" data-filename="Image.png" /></div>
          <div><br /></div>
          <div><br /></div>
          <div><br /></div>
          <div>ctrl + f 로 &quot;extension=mysqli&quot; 로 이동해줍니다.</div>
          <div>확장을 하는 곳으로 이동하고 스크롤을 위로 조금만 하면 위와같이 <span style="font-size: 14pt; font-weight: bold;">확장을 불러오는 간단한
              예시</span>가
            있습니다. </div>
          <div>한번 눈으로 쓱 읽고 가시면 좋습니다.</div>
          <div>위의 키워드로 검색하면 아래와 같은 화면이 화면상에 출력됩니다.</div>
          <div><br /></div>
          <div><img src="../resources/APM2_files/Image [4].png" type="image/png" data-filename="Image.png" /></div>
          <div><br /></div>
          <div>mysqli에 해당하는 extension 앞의 &quot;;&quot;(세미콜론) 을 지워줍니다.</div>
          <div>이와 더불어 5번째 줄 아래에 있는 <font style="font-size: 18pt;"><span
                style="font-size: 18pt; font-weight: bold;">pdo_mysql </span></font>의 extension 또한 &quot;;&quot; 를
            지워줍니다.
          </div>
          <div><br /></div>
          <div>작업이 마무리 되었으면 저장을 합니다.(ctrl + s)</div>
          <div><br /></div>
          <div><br /></div>
          <div><br /></div>
          <div><br /></div>
          <div>이렇게 벌써 php도 설정이 끝났습니다.(뭔가 빠진것 같은 건 기분탓입니다)</div>
          <div>Apache 처럼 확인을 해봐야겠죠?</div>
        </div>
        <div><br /></div>
        <div>apache 폴더로 들어가줍니다.</div>
        <div><img src="../resources/APM2_files/Image [5].png" type="image/png" data-filename="Image.png" /></div>
        <div>htdocs 로 들어가 줍니다.(root directory -&gt; <a
            href="https://ko.wikipedia.org/wiki/%EB%A3%A8%ED%8A%B8_%EB%94%94%EB%A0%89%ED%86%A0%EB%A6%AC">클릭</a>)</div>
        <div><br /></div>
        <div><br /></div>
        <div>그러면 index.html 파일이 존재하고 있을겁니다.</div>
        <div><img src="../resources/APM2_files/Image [6].png" type="image/png" data-filename="Image.png" /></div>
        <div><br /></div>
        <div>파일을 눌러 실행해보면 우리가 저번 챕터에서 봤던</div>
        <div><img src="../resources/APM2_files/Image [7].png" type="image/png" data-filename="Image.png" /></div>
        <div>이 화면이 출력됩니다.</div>
        <div><br /></div>
        <div><br /></div>
        <div>고로 앞으로 우리는 이 위치에서 파일을 계속 만들고 구성해줘야 한다는 것이죠.</div>
        <div><br /></div>
        <div>물론 위 스크린샷은 로컬에서 실행했기 때문에 주소창에서는 로컬파일의 경로가 나옵니다.</div>
        <div><br /></div>
        <div>우린 이미 Apache가 설치되었으니 주소창에 localhost 또는 127.0.0.1 로 실행해야됩니다.</div>
        <div>(<span style="color: rgb(227, 0, 0); font-weight: bold;">당연하게도 이 설정은 ★apache/conf/</span><span
            style="font-size: 18pt; color: rgb(227, 0, 0); font-weight: bold;">httpd.conf</span><span
            style="color: rgb(227, 0, 0); font-weight: bold;">★</span> <span
            style="color: rgb(227, 0, 0); font-weight: bold;">에서 바꿀 수 있습니다.</span>)</div>
        <div><br /></div>
        <div><br /></div>
        <div>텍스트 에디터(IDE:통합개발환경)를 활용해 php파일을 만들어 보겠습니다.</div>
        <div>atom, eclipse, vscode 등이 있죠?</div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>
        <div>전 그냥 전통적인 방식으로 메모장을 활용하겠습니다ㅋㅋ</div>
        <div><img src="../resources/APM2_files/Image [8].png" type="image/png" data-filename="Image.png" width="942" />
        </div>
        <div>위와 같이 입력해주세요.</div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>
        <div>그리고 '파일 &gt; 다른이름으로 저장 &gt; &quot;phpinfo.php&quot;' 로 저장해줍니다.</div>
        <div>인코딩 방식은 습관처럼 UTF-8로 해주세요.</div>
        <div><br /></div>
        <div>저장위치는 위에서 봤던 것처럼 우리의 root directory인 &quot;아파치폴더&quot;/htdocs 위치에 저장해 줍니다.</div>
        <div><img src="../resources/APM2_files/Image [9].png" type="image/png" data-filename="Image.png" /></div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>
        <div>그리고 한번 127.0.0.1/<span style="font-weight: bold;">phpinfo.php</span> 로 접속해보시면 </div>
        <div><img src="../resources/APM2_files/Image [10].png" type="image/png" data-filename="Image.png" /></div>
        <div>위와 같은 페이지가 안나올겁니다. 나온다면 나온것대로 신기한 일이구요.</div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>
        <div>위 페이지가 안나왔다! 그럼 자연스럽게 왜 안되는 지 대충 연관이 되실겁니다.</div>
        <div><br /></div>
        <div>위 과정에서 빠진 부분이 바로 apache와 php의 연동 부분입니다!</div>
        <div><br /></div>
        <div>저희는 위 과정 중 mysql과 추후 연동하기 위해서 확장을 &quot;미리&quot; 해놨습니다.</div>
        <div>개발자가 서로 연결해주지 않았는데 어떻게 컴퓨터가 알아서 연결을 할까요?</div>
        <div>우리는 일일히 직접 연결해주는 과정을 하고 있기에 연동은 필수입니다!</div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>
        <div><span style="color: rgb(227, 0, 0); font-weight: bold;">apache/conf/</span><span
            style="font-size: 18pt; color: rgb(227, 0, 0); font-weight: bold;">httpd.conf</span><span
            style="font-size: 12pt;">에서 제일 아래로 스크롤을 내려줍니다.</span></div>
        <div><span style="font-size: 12pt;">그리고 </span></div>
        <div><br /></div>
        <div
          style="box-sizing: border-box; padding: 8px; font-family: Monaco, Menlo, Consolas,monospace; font-size: 12px; color: rgb(51, 51, 51); border-radius: 4px; background-color: rgb(251, 250, 248); border: 1px solid rgba(0, 0, 0, 0.15);-en-codeblock:true;">
          <div>PHPIniDir &quot;각자의 작업영역/php7&quot;</div>
          <div>LoadModule php7_module &quot;각자의 작업영역/php7/php7apache2_4.dll&quot;</div>
          <div>AddType application/x-httpd-php .html .php</div>
          <div>AddHandler application/x-httpd-php .php</div>
        </div>
        <div><br /></div>
        <div>위 문구를 그대로 복사하여 넣어줍니다.</div>
        <div>php의 작업영역은 각자 다르겠죠? </div>
        <div>저로 예를 든다면 PHPInDir 을 &quot;D:/workspaces/php7&quot;로 설정해줘야 합니다.</div>
        <div><br /></div>
        <div>php7 이라는 폴더는 제가 당연히 이름을 바꾼 폴더란 거 아시겠죠?</div>
        <div>압축파일을 풀었을 때의 해당 폴더 이름을 제가 &quot;php7&quot;으로 바꿨다는 점 알아두시길 바랍니다.</div>
        <div><br /></div>
        <div>위의 AddType, AddHandler 부분은 <a
            href="https://armantutorial.wordpress.com/2019/01/08/how-to-install-wamp-apache-2-4-and-php-7-3/">여기</a> 에서
          확인하였습니다.</div>
        <div>아마 어떤 타입의 파일 확장자인지에 따라 파일을 읽고 안읽고의 차이인 것 같습니다.</div>
        <div><br /></div>
        <div>이제 httpd.conf 파일을 저장하시고</div>
        <div>다시한번 127.0.0.1/phpinfo.php 주소로 이동해 주시면 됩니다.</div>
        <div><br /></div>
        <div><br /></div>
        <div>이제 아래의 배너가 나올 겁니다. 버전은 각자 다를 것이구요ㅎ</div>
        <div><img src="../resources/APM2_files/Image [11].png" type="image/png" data-filename="Image.png" /></div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>
        <div>만약 여기까지 왔는데 페이지가 안나온다.. 127.0.0.1 도 안들어가진다... 하시는 분들은</div>
        <div><br /></div>
        <div>저번 챕터를 읽고 시간이 좀 흐르고 이 글을 읽는 것이겠죠?</div>
        <div><br /></div>
        <div>다시 확인을 해봅시다!</div>
        <div><br /></div>
        <ol>
          <li>
            <div>cmd 를 관리자모드로 실행</div>
          </li>
          <li>
            <div>httpd -k start 입력</div>
          </li>
        </ol>
        <div><img src="../resources/APM2_files/Image [12].png" type="image/png" data-filename="Image.png" /></div>
        <ol>
          <li>
            <div>다시 콘솔입력 커서 깜빡깜빡</div>
          </li>
        </ol>
        <div><img src="../resources/APM2_files/Image [13].png" type="image/png" data-filename="Image.png" /></div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>
        <div>위 과정을 진행하고 다시 접속을 해보죠.</div>
      </div>
      <div>그래도 안되고 오류가 뜬다?? </div>
      <div><br /></div>
      <div>오류코드를 검색하시거나 다방면으로 찾아보시길 바랍니다^^</div>
      <div><br /></div>
      <div>그리고 알게 되신다면 제 github 저장소에 issues 로 남겨주시면 확인 후 추가하겠습니다!!</div>
      <div><br /></div>
      <div>다음챕터에선 마지막으로 MySQL 설치 및 연동과정을 진행하겠습니다!</div>
      <div>수고하셨습니다^^</div>
      <div><br /></div>
      <div><br /></div>
      <div><span style="font-weight: bold;">key word </span></div>
      <div><span style="font-weight: bold;">httpd.conf / php.ini</span></div>
      <div><span style="font-weight: bold;">apache서버 설정 / php 설정</span></div>
    </span>
  </div>
</body>

</html>