<!DOCTYPE HTML>
<html lang="ko">

<head>
  <link rel="icon" type="image/x-icon" href="../resources/img/repo_favicon.ico">
  <title>aws - ubuntu linux 실행</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <style>
    body,
    td {
      font-family: D2Coding ligature;
      font-size: 12pt;
    }
  </style>
</head>

<body>
  <h1>aws - ubuntu linux 실행</h1>

  <div>
    <span>
      <div><img src="../resources/aws - ubuntu linux 실행_files/Image.png" type="image/png" data-filename="Image.png" />
      </div>
      <div><br /></div>
      <div><a
          href="https://docs.aws.amazon.com/ko_kr/AWSEC2/latest/UserGuide/putty.html?icmpid=docs_ec2_console">https://docs.aws.amazon.com/ko_kr/AWSEC2/latest/UserGuide/putty.html?icmpid=docs_ec2_console</a>
      </div>
      <div>: 참고메뉴얼</div>
      <div>
        <hr />
        putty를 활용해서 ssh 개방 및 연결</div>
      <div><br /></div>
    </span>
  </div>
</body>

</html>