<button id="issueLink" title="linked to 'gabeujin' github">issue?</button>
<nav>
    <form class="sample-form" method="post" action="#" target="_top">
      <input class="searchCustom" type="search" name="search" placeholder="검색" required>
      <input class="searchCustom" type="submit" onSubmit="return false;" value="Go!">
  </form>
</nav>
<contents>
  <div class="kgj-category">1</div>
  <div class="kgj-category">2</div>
  <div class="kgj-category">3</div>
  <div class="kgj-category">4</div>
</contents>