<nav class="main-nav">
  <div class="external-links">
    <button id="issueLink" title="linked to 'gabeujin' github">issue?</button>
    <button id="lhTest" title="linked to 'lighthouse' github">lighthouseTest</button>
    <button id="charsets" title="linked to 'charset' w3schools">charsets</button>
  </div>
  <ul class="app-links">
    <li><a href="#" onclick="goHref('app/animal-test');return false;">Animal Test</a></li>
    <li><a href="#" onclick="goHref('app/fruit-test');return false;">Fruit Test</a></li>
    <li><a href="#" onclick="goHref('app/momontom');return false;">Momontom</a></li>
    <li><a href="#" onclick="goHref('app/calculator');return false;">Calculator</a></li>
    <li><a href="#" onclick="goHref('app/sprtGpt');return false;">SprtGPT</a></li>
  </ul>
</nav>
