/* tag selector */
body {
    overflow-x          :hidden;
    margin              : 0px;
    text-align          : center;
    font-family         : D2Coding ligature;
    background-color    :rgb(86,72,72);
}

ol{
    margin        : 0 auto;
    width         : fit-content;
    -webkit-width : fit-content;
    text-align    : start;
}

p {
    font-family : D2Coding ligature;
    font-size   : 1rem;
    margin      : 1.3em 0px;
    padding     : 0px 3.5em;
}

img {
    max-width: 100%;
}

hr {
    width: 90%;
}

/* class tag of unique */
p.focusSection{
    background-color    : rgb(217,177,177);
    font-size           : 1.5rem;
}

code.sqlCode{
    color               : rgb(30, 30, 30);
}

@media(min-width:880px){
    .container{
        max-width         : 80%;
        display           : inline-block;
        background-color  : white;
        border-left       : groove 1.5em #d9b1b1;
        box-sizing        : border-box;
        -webkit-box-sizing: border-box;
    }
}

@media(max-width:880px){
    .container{
      width             : 100%;
      display           : inline-block;
      background-color  : white;
      border-left       : groove 1.5em #d9b1b1;
      box-sizing        : border-box;
      -webkit-box-sizing: border-box;
    }
}