html{
    cursor      : default;
    height      : 100%;
    overflow    : auto;
}

body{
    margin      : 0 auto;
    width       : 100%;
    height      : 100%;
    animation   : fadeIn 1.1s ease-out;
}

*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* header section */
header{
    padding-left        : 1.2rem;
    background-color    : #564848;
    color               : #d9b1b1;
}

header .pageTitle{
    margin      : 0 0 0.5rem 0;
}

header span{
    cursor      : pointer;
    font-size   : 4rem;
    word-break  : break-word;
    color       : #ececec;
    text-shadow : 
    0.10rem 0 0 #d9b1b1,
    0.20rem 0 0 #caa6a6,
    0.30rem 0 0 #b19191,
    0.40rem 0 0 #947878,
    0.50rem 0 0 #7c6565,
    0.60rem 0 0 #725d5d,
    0.70rem 0 0 #695656,
    0.85rem 0 0 #635151,
    0.90rem 0 0 #5e4d4d,
    0.95rem 0 0 #564848
    ;
    
}

header p{
    margin-bottom   : 0.5rem;
    padding-bottom  : 0.5rem;
    font-size       : 0.9rem;
    word-break      : break-word;
}

/*nav section*/
nav{
    text-align  : center;
    height      : 5%;
}

nav form.srchForm{
    float           : left;
    margin-left     : 5px;
    margin-bottom   : 0px;
    width           : 40%;
}

nav form.srchForm input[type='search']{
    float           : left;
    width           : 60%;
}
nav form.srchForm input[type='submit']{
    width           : 30%;
}

nav>button{
    float           : right;
    margin-right    : 5px;
    border          : 2px outset #eedada;
}

nav>button#lhTest{
    background-color : #caa6a6;

}

/*container(section) section*/
section{
    clear               : both;
    width               : 100%;
    min-height          : 60vh;
    box-sizing          : border-box;
    -webkit-box-sizing  : border-box;
}

section contents{
    width       : 80%;
    margin      : 0 auto;
    display     : block;
    text-align  : center;
    animation   : fadeIn 1.1s ease-out;
}

section contents metaInfo{
    display : block;
    margin  : 4rem 1rem;
}

details summary{
    text-align      : left;
    font-size       : 1.6rem;
    user-select     : none;
}

details p a.hashTag{
    text-decoration : none;
    margin          : 2px 8px;
    display         : inline-block;
    color           : #756060;
    cursor          : pointer;
}

details button.thumbBtn{
    width               : 40%;
    height              : 4%;
    border              : 2px outset #eedada;
    background-color    : #eedada;
    cursor              : pointer;
}

details button.thumbBtn:hover{

    background-color    : #756060;
    color               : #ffffff;
    transition          : 0.15s ease-out;
}

a.hashTag:hover{
    color       : #000;
    font-weight : bold;
}

details[open] summary{
    font-weight : bold;
}

details[open] summary ~ *{
    animation-name              : fadeIn,slideIn_top;
    animation-duration          : 0.5s,0.5s;
    animation-delay             : 0s,0s;
    animation-timing-function   : ease-out;
}

details[open] p{
    user-select : none;
    word-break  : break-all;
}

/* footer section */
footer{
    position        : relative;
    bottom          : 0rem;
    width           : 100%;
    margin-bottom   : 0rem;
}

footer p{
    text-align  : center;
    margin      : 0 auto;
    padding     : 5px 0px 5px 0px;
}

/* toast section */
div.toastAlert{
    position            : fixed;
    z-index             : 100;
    left                : 0;
    right               : 0;
    bottom              : 0%;
    margin              : 0 auto;
    width               : 40vw;
    height              : 6vh;
    opacity             : 0;
    text-align          : center;
    color               : #ececec;
    line-height         : 6vh;
    font-weight         : bolder;
    background-color    : #414141;
    border-radius       : 4px;
}

.toastAlert.on{
    opacity     : 1;
    bottom      : 3%;
    transition  : linear 0.3s;
}

.toastAlert.off{
    opacity     : 0;
    bottom      : 0%;
    transition  : linear 0.2s;
}

/* animation section (keyFrame) */
@keyframes fadeIn{
    from{opacity: 0;}
    to  {opacity: 1;}
}

@keyframes slideIn_top{
    from{position: relative;
        top: -20px;
    }
    to  {position: relative;
        top: 0px;
    }
}