html{
    cursor      : default;
    height      : 100%;
    overflow    : scroll;
}

body{
    margin  : 0 auto;
    width   : 100%;
    height  : 100%;
    overflow    : scroll;
}

header{
    padding-left        : 1.2rem;
    background-color    : #564848;
    color               : #d9b1b1;
}

header .pageTitle{
    margin      : 0 0 0.5rem 0;
}

header span{
    font-size   : 4rem;
    word-break  : break-word;
    color       : #ececec;
    text-shadow : 
    0.10rem 0 0 #d9b1b1,
    0.20rem 0 0 #caa6a6,
    0.30rem 0 0 #b19191,
    0.40rem 0 0 #947878,
    0.50rem 0 0 #7c6565,
    0.60rem 0 0 #725d5d,
    0.70rem 0 0 #695656,
    0.85rem 0 0 #635151,
    0.90rem 0 0 #5e4d4d,
    0.95rem 0 0 #564848
    ;
}

header p{
    margin-bottom   : 0.5rem;
    padding-bottom  : 0.5rem;
    font-size       : 1.2rem;
    word-break: break-word;
}
#container{
    width               : 100%;
    box-sizing          : border-box;
    -webkit-box-sizing  : border-box;
}

button.imgBtn{
    margin-right        : 0.5em;
    float               : right;
    background-image    : url(../img/issue.png);
    background-repeat   : round;
    width               : 4.5rem;
    height              : 2.58rem;
    border-radius       : 8px;
    border              : none;
    cursor              : pointer;
    outline             : none;
    opacity             : 0.5;
}

button.imgBtn:hover{
    opacity : 1;
}

input.searchCustom{
    border-radius : 0.2rem;
}
/* AMP */
nav .sample-form{
   padding : 1rem 0 0 1rem; 
}

amp-layout{
    padding : 1rem 0.5rem 1rem 0.5rem;
    height  : 100%;
    width   : 100%;
}

amp-layout div.kgj-category{
    min-width       : 90%;
    height          : 20rem;
    margin          : 0.5rem;
    float           : left;
    font-size       : 5em;
    color           : #ffffff;
    font-family     : D2Coding;
    display         : flex;
    align-items     : center;
    justify-content : center;
    text-align      : center; 
}

amp-layout div.first{
    background-color: #caa6a6;
}

amp-layout div.second{
    background-color: #857171;
}

amp-layout div.kgj-category:hover{
    border-radius       : 0px;
    -webkit-transition  : 0.5s;
    -moz-transition     : 0.5s;
    -o-transition       : 0.5s;
    transition          : 0.5s;
}

amp-layout div.kgj-category:not(:hover){
    border-radius       : 1.5rem;
    -webkit-transition  : 0.2s;
    -moz-transition     : 0.2s;
    -o-transition       : 0.2s;
    transition          : 0.2s;
}

div.kgj-category.showYou{
    position        : relative;
    height          : 100rem;
    transition      : ease-in;
    border-radius   : 1.5rem;
}

div.kgj-category.showOff{
    position    : relative;
    height      : 0rem;
    visibility  : hidden;
    transition  : ease-in;
}