#removeAll{
    margin:0 auto;
    width: 100%;
}

article#appMomontom{
    margin: 0 auto;
    width: 80vw;
    min-height: 60vh;
    padding-top: 10vh;
}

article#appMomontom>div.clock>h1
,article#appMomontom>form{
    text-align: center;
}

input.underL{
    border-width: 0 0 1px 0;
    border-color: #564848;
    background: none;
    outline-width: 0;
    font-size: x-large;
    width: 20rem;
}

div.momontomService{
    padding-left: 20vw;
}

div.momontomService>ul{
    text-align: left;
    list-style-type: none;
}

div.momontomService>ul li{
    margin-bottom: 0.5rem;
}

span.geoLocationTemp{
    position: initial;
    font-style: italic;
    font-size: 1rem;
    color: #ffffff;
}