<article id="appCalculator">
    <header>
        <h1><b>H</b>igh <b>Q</b>uality <b>C</b>alculator</h1>
      </header>
      <section id="mainWrap">
        <article>
          <header>
            <input id="result" type="text" value="0" readonly="true"/>
            <button class="kgjBtn reset">C</button>
          </header>
          <section>
            <article>
              <div>
                <button class="kgjBtn number">7</button>
                <button class="kgjBtn number">8</button>
                <button class="kgjBtn number">9</button>
              </div>
              <div>
                <button class="kgjBtn number">4</button>
                <button class="kgjBtn number">5</button>
                <button class="kgjBtn number">6</button>
              </div>
              <div>
                <button class="kgjBtn number">1</button>
                <button class="kgjBtn number">2</button>
                <button class="kgjBtn number">3</button>
              </div>
              <div>
                <button class="kgjBtn number">0</button>
                <button class="kgjBtn result">=</button>
              </div>
            </article>
            <aside>
              <button class="kgjBtn oper">+</button>
              <button class="kgjBtn oper">-</button>
              <button class="kgjBtn oper">*</button>
              <button class="kgjBtn oper">/</button>
            </aside>
          </section>
        </article>
      </section>
</article>